haml/detail.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Детальная
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
    .container
      .back-white-page 
        .inner
          
          .row
            .col-xs-12
              %ol.breadcrumb
                %li
                  %a{:href => "#"} Главная
                  %span.glyphicon.glyphicon-chevron-right
                %li
                  %a{:href => "#"}
                    Киевская область 
                  %span.glyphicon.glyphicon-chevron-right
                %li
                  %a{:href => "#"}
                    Киев
                  %span.glyphicon.glyphicon-chevron-right
                %li.active Samsung
              %h2
                Сервисный центр RSS
              
          .col-page-rt
            .col-page-rt-inner
              .row
                .col-xs-12.col-sm-8
                  .row
                    .col-xs-6.col-sm-4
                      Сервисный центр:
                    .col-xs-6.col-sm-8
                      %b
                        RSS
                  .row
                    .col-xs-6.col-sm-4
                      Адрес:
                    .col-xs-6.col-sm-8
                      %b
                        г. Алушта, 
                      ул. Партизанская 9 (за Фуршетом)
                      %a.text-right{:href => ""}
                        Карта
                        %i.fa.fa-map-marker
                  .row
                    .col-xs-6.col-sm-4
                      Тел / факс:
                    .col-xs-6.col-sm-8
                      +7 (978) 056-54-06
                  .row
                    .col-xs-6.col-sm-4
                      Другие телефоны:
                    .col-xs-6.col-sm-8
                      +7 (978) 056-54-06
                  .row
                    .col-xs-6.col-sm-4
                      E-mail:
                    .col-xs-6.col-sm-8
                      %a{:href => ""}
                        service@crimea.rss.ru
                  .row
                    .col-xs-6.col-sm-4
                      Сайт:
                    .col-xs-6
                      http://www.rss.ru/regions/alushta
                    %br    
                  .liner-grey.clearfix
                  .row
                    .col-xs-6.col-sm-4
                      Время работы:
                    .col-xs-6
                      09:30-19:00 (будни)
                      %br
                      10:00-16:00 (выходные)
                  .liner-grey.clearfix
                  .row
                    .col-xs-6.col-sm-4
                      Социальные сети:
                    .col-xs-6.social
                      %a{:href => ""}
                        %i.fa.fa-facebook-square
                      %a{:href => ""}
                        %i.fa.fa-google-plus-square
                      %a{:href => ""}
                        %i.fa.fa-twitter-square
                      %a{:href => ""}
                        %i.fa.fa-vk
                      %a{:href => ""}
                        %i.fa.fa-odnoklassniki-square
                      %a{:href => ""}
                        %i.fa.fa-youtube-square
                  .visible-xs
                    .liner-grey.clearfix
                .col-xs-12.col-sm-4
                  Стоимость работ
                  .reiting_6
                  Качество обслуживания
                  .reiting_10
                  Клиент
                  .reiting_2
                  Время работ
                  .reiting_8


              .liner-grey.clearfix 
              .row-ctlg.icon-page

                %img{:src => "images/icon_review.gif"}
                %a{:href => ""}
                  Отправить отзыв о сервисном центре
                %br
                %img{:src => "images/icon_no_cont.gif"}
                %a{:href => ""}
                  Пожаловаться на неправильные контактные данные.
                %br
                %img{:src => "images/icon_ask.gif"}
                %a{:href => ""}
                  Отправить запрос в сервисный центр
                %br
                %img{:src => "images/ico_zakaz.gif"}
                %a{:href => ""}
                  Проверить статус своего заказа
              .row.row-ctlg
                .col-xs-12
                  Профессиональный ремонт компьютерной и офисной техники ведущих мировых производителей. Гарантийное обслуживание и платный ремонт IT оборудования. Сервисный Центр RSS – всегда готов Вам помочь отремонтировать любой электрический прибор. Вы всегда получите высококвалифицированную консультацию от мастеров по любым вопросам. 
                  %br
                  %br

                  Мы оказываем услуги по ремонту офисной техники, ремонту ноутбуков, ремонту персональных компьютеров, производим замену запчастей, и производим техническое обслуживание компьютерной техники. Если Вам сложно привезти к нам на ремонт технику, мы можем приехать к Вам, и произвести ремонт либо на офисе, либо забрать её в наш сервисный центр. 
                  %br
                  %br
                  Мы производим ремонт продуктов всех фирм. У нас всегда проводится первичная диагностика и только после того, как стоимость ремонта согласована с клиентом, производится ремонт.
            
          .a-right
            %img{:src => "images/banner600.jpg"}

      
    .container
      .liner-all
      .back-grey
        .inner
          .row
            .col-xs-12
              %h2
                Отзывы
          .row
            .col-xs-12
              %h4.pull-left
                Отзывы о сервисном центре «F1Center», г. Киев:
              %a.pull-right{:href => ""}
                Все отзывы
              
          .row
            .col-xs-12.col-sm-4

              .circle-name
                ME
              19.12.2016
              %br
              Мельниченко Елена
            .col-xs-12.col-sm-8.row-ctlg
              Впечатление rкрайне негативное. В июне чинила ноут (Квитанция №881814) - погас экран, однако в некоторых положениях загорался. Сперва проблему определили как дефект проводочка (не знаю, как называется: пасик? усик?), соединяющего экран с базой. Заменили, слупили нормальную цену. Через два дня после того, как забрала ноут, экран погас опять. Взяли на повторную диагностику, за которую обещали снять деньги в случае, если я откажусь от повторного ремонта. А может вы неправильно диагностировали проблему и я заплатила за то, что ремонтировать не надо было? Провели диагностику вновь, оказалось, необходимо менять экран. Ноут в сервисе пробыл до августа или даже до сентября, якобы не было деталей. 

              .review
                %button.btn.btn-defaul.btn-xs
                  Полезный отзыв
                
                5 человек считают этот отзыв полезным
          .row       
            .col-xs-12.col-sm-4
              .circle-name
                CA
              18.02.2016
              %br
              Самсоненко Алексей
            .col-xs-12.col-sm-8.row-ctlg
              Здравствуйте кто читает этот отзыв ) Не рекомендую этот сервисный центр .Я обратился к ним как одному из крупных и официальных центров которые занимаются ремонтом ноутбуков так как у меня начались траблы с ноутом .
              %br
              %br
              %b
                Ответ представителя СЦ: 
              %br
              Добрый день. Уважаемый Алексей, мы получили Ваше устройство для диагностики с дефектом «Не стартует, не выводит изображение на экран, только индикация, до этого периодически выбивало синий экран с ошибкой, грелся при нагрузке.».
    .container
      .clearfix.liner-all
      .back-white  
        .inner
          .row
            .col-xs-12
              %h2
                Медали, награды
          .row.row-ctlg
            .col-xs-12
              %h4
                Медали и награды, которые получил сервисный центр «F1Center», г. Киев:
              
              %img{:src => "images/silver_medal.png"}    
    .container
      .clearfix.liner-all
      .back-white  
        .inner
          .row
            .col-xs-12
              %h2
                Авторизации. Гарантийный ремонт
          .row
            .col-xs-12
              %h4
                Список категорий товаров и производителей, по которым сервисный центр «F1Center» оказывает услуги гарантийного ремонта:
             
          .row.row-ctlg
            .col-xs-12.col-sm-6
              %a{:href => ""}
                DVD/Blu-ray плееры: 
              Arcam, Asus, Harman Kardon, Jamo, Toshiba, Yamaha
              %br
              %a{:href => ""}
                GPS - навигаторы: 
              Asus, GSmart, Tenex
              %br
              %a{:href => ""}
                Hi-Fi и Hi-End компоненты: 
              Arcam, Asus, ELAC, Harman Kardon, Infinity, Jamo, JBL, Monitor Audio, Nuvo, Rega, REL, Runco, Sunfire, Toshiba, Yamaha
              %br
              %a{:href => ""}
                MP3 плееры: 
              Genius, Harman Kardon, Labtec, Logitech
              %br
              %a{:href => ""}
                Автомагнитолы, 
              CD/DVD проигрыватели: Harman Kardon, Rega
              %br
              %a{:href => ""}
                Автомобильные CD/DVD-ченджеры: 
              Harman Kardon, Nuvo, Rega
              %br
              %a{:href => ""}
                Автомобильные акустические системы: 
              ELAC, Harman Kardon, Infinity, Phase
            .col-xs-12.col-sm-6
              %a{:href => ""}
                DVD/Blu-ray плееры: 
              Arcam, Asus, Harman Kardon, Jamo, Toshiba, Yamaha
              %br
              %a{:href => ""}
                GPS - навигаторы: 
              Asus, GSmart, Tenex
              %br
              %a{:href => ""}
                Hi-Fi и Hi-End компоненты: 
              Arcam, Asus, ELAC, Harman Kardon, Infinity, Jamo, JBL, Monitor Audio, Nuvo, Rega, REL, Runco, Sunfire, Toshiba, Yamaha
              %br
              %a{:href => ""}
                MP3 плееры: 
              Genius, Harman Kardon, Labtec, Logitech
              %br
              %a{:href => ""}
                Автомагнитолы, 
              CD/DVD проигрыватели: Harman Kardon, Rega
              %br
              %a{:href => ""}
                Автомобильные CD/DVD-ченджеры: 
              Harman Kardon, Nuvo, Rega
              %br
              %a{:href => ""}
                Автомобильные акустические системы: 
              ELAC, Harman Kardon, Infinity, Phase
                  
    .container
      .liner-all
      .back-grey
        .inner
          .row
            .col-xs-12
              %h2
                Категории
          .row.font12.row-ctlg
            .col-xs-12.col-sm-3
              %a{:href => ""}
                ADSL оборудование
              %br
              %a{:href => ""}
                Bluetooth оборудование
              %br
              %a{:href => ""}
                CDMA телефоны
              %br
              %a{:href => ""}
                DVD/Blu-ray плееры
              %br
              %a{:href => ""}
                FM трансмиттеры
              %br
              %a{:href => ""}
                GPS - навигаторы
              %br
              %a{:href => ""}
                GSM шлюзы, Skype телефоны
              %br
              %a{:href => ""}
                GSM/CDMA оборудование
              %br
              %a{:href => ""}
                Hi-Fi и Hi-End компоненты
              %br
              %a{:href => ""}
                IP АТС
              %br
              %a{:href => ""}
                IP видеотелефоны    
            .col-xs-12.col-sm-3
              %a{:href => ""}
                ADSL оборудование
              %br
              %a{:href => ""}
                Bluetooth оборудование
              %br
              %a{:href => ""}
                CDMA телефоны
              %br
              %a{:href => ""}
                DVD/Blu-ray плееры
              %br
              %a{:href => ""}
                FM трансмиттеры
              %br
              %a{:href => ""}
                GPS - навигаторы
              %br
              %a{:href => ""}
                GSM шлюзы, Skype телефоны
              %br
              %a{:href => ""}
                GSM/CDMA оборудование
              %br
              %a{:href => ""}
                Hi-Fi и Hi-End компоненты
              %br
              %a{:href => ""}
                IP АТС
              %br
              %a{:href => ""}
                IP видеотелефоны    
            .col-xs-12.col-sm-3
              %a{:href => ""}
                ADSL оборудование
              %br
              %a{:href => ""}
                Bluetooth оборудование
              %br
              %a{:href => ""}
                CDMA телефоны
              %br
              %a{:href => ""}
                DVD/Blu-ray плееры
              %br
              %a{:href => ""}
                FM трансмиттеры
              %br
              %a{:href => ""}
                GPS - навигаторы
              %br
              %a{:href => ""}
                GSM шлюзы, Skype телефоны
              %br
              %a{:href => ""}
                GSM/CDMA оборудование
              %br
              %a{:href => ""}
                Hi-Fi и Hi-End компоненты
              %br
              %a{:href => ""}
                IP АТС
              %br
              %a{:href => ""}
                IP видеотелефоны   
            .col-xs-12.col-sm-3
              %a{:href => ""}
                ADSL оборудование
              %br
              %a{:href => ""}
                Bluetooth оборудование
              %br
              %a{:href => ""}
                CDMA телефоны
              %br
              %a{:href => ""}
                DVD/Blu-ray плееры
              %br
              %a{:href => ""}
                FM трансмиттеры
              %br
              %a{:href => ""}
                GPS - навигаторы
              %br
              %a{:href => ""}
                GSM шлюзы, Skype телефоны
              %br
              %a{:href => ""}
                GSM/CDMA оборудование
              %br
              %a{:href => ""}
                Hi-Fi и Hi-End компоненты
              %br
              %a{:href => ""}
                IP АТС
              %br
              %a{:href => ""}
                IP видеотелефоны    
    .container
      .clearfix.liner-all
      .back-white  
        .inner
          .row
            .col-xs-12
              %h2
                Бренды
          .row
            .col-xs-12
              %h4
                Все бренды товаров, которые обслуживает «RSS»:

          .row.font12.row-ctlg
            .col-xs-6.col-sm-2

              %a{:href => ""}
                2N
              %br
              %a{:href => ""}
                2N Telekomunikace
              %br
              %a{:href => ""}
                3Com
              %br
              %a{:href => ""}
                3M
              %br
              %a{:href => ""}
                3Nod
              %br
              %a{:href => ""}
                3Q
              %br
              %a{:href => ""}
                4U
              %br
              %a{:href => ""}
                @Lux
              %br
              %a{:href => ""}
                A-Data
              %br
              %a{:href => ""}
                A4 Tech
              %br
              %a{:href => ""}
                AB IPBox
              %br
              %a{:href => ""}
                Ace
              %br
              %a{:href => ""}
                Acer
              %br
              %a{:href => ""}
                ACME
              %br
              %a{:href => ""}
                Acorp
            .col-xs-6.col-sm-2

              %a{:href => ""}
                2N
              %br
              %a{:href => ""}
                2N Telekomunikace
              %br
              %a{:href => ""}
                3Com
              %br
              %a{:href => ""}
                3M
              %br
              %a{:href => ""}
                3Nod
              %br
              %a{:href => ""}
                3Q
              %br
              %a{:href => ""}
                4U
              %br
              %a{:href => ""}
                @Lux
              %br
              %a{:href => ""}
                A-Data
              %br
              %a{:href => ""}
                A4 Tech
              %br
              %a{:href => ""}
                AB IPBox
              %br
              %a{:href => ""}
                Ace
              %br
              %a{:href => ""}
                Acer
              %br
              %a{:href => ""}
                ACME
              %br
              %a{:href => ""}
                Acorp
            .col-xs-6.col-sm-2

              %a{:href => ""}
                2N
              %br
              %a{:href => ""}
                2N Telekomunikace
              %br
              %a{:href => ""}
                3Com
              %br
              %a{:href => ""}
                3M
              %br
              %a{:href => ""}
                3Nod
              %br
              %a{:href => ""}
                3Q
              %br
              %a{:href => ""}
                4U
              %br
              %a{:href => ""}
                @Lux
              %br
              %a{:href => ""}
                A-Data
              %br
              %a{:href => ""}
                A4 Tech
              %br
              %a{:href => ""}
                AB IPBox
              %br
              %a{:href => ""}
                Ace
              %br
              %a{:href => ""}
                Acer
              %br
              %a{:href => ""}
                ACME
              %br
              %a{:href => ""}
                Acorp
            .col-xs-6.col-sm-2

              %a{:href => ""}
                2N
              %br
              %a{:href => ""}
                2N Telekomunikace
              %br
              %a{:href => ""}
                3Com
              %br
              %a{:href => ""}
                3M
              %br
              %a{:href => ""}
                3Nod
              %br
              %a{:href => ""}
                3Q
              %br
              %a{:href => ""}
                4U
              %br
              %a{:href => ""}
                @Lux
              %br
              %a{:href => ""}
                A-Data
              %br
              %a{:href => ""}
                A4 Tech
              %br
              %a{:href => ""}
                AB IPBox
              %br
              %a{:href => ""}
                Ace
              %br
              %a{:href => ""}
                Acer
              %br
              %a{:href => ""}
                ACME
              %br
              %a{:href => ""}
                Acorp
            .col-xs-6.col-sm-2

              %a{:href => ""}
                2N
              %br
              %a{:href => ""}
                2N Telekomunikace
              %br
              %a{:href => ""}
                3Com
              %br
              %a{:href => ""}
                3M
              %br
              %a{:href => ""}
                3Nod
              %br
              %a{:href => ""}
                3Q
              %br
              %a{:href => ""}
                4U
              %br
              %a{:href => ""}
                @Lux
              %br
              %a{:href => ""}
                A-Data
              %br
              %a{:href => ""}
                A4 Tech
              %br
              %a{:href => ""}
                AB IPBox
              %br
              %a{:href => ""}
                Ace
              %br
              %a{:href => ""}
                Acer
              %br
              %a{:href => ""}
                ACME
              %br
              %a{:href => ""}
                Acorp
            .col-xs-6.col-sm-2

              %a{:href => ""}
                2N
              %br
              %a{:href => ""}
                2N Telekomunikace
              %br
              %a{:href => ""}
                3Com
              %br
              %a{:href => ""}
                3M
              %br
              %a{:href => ""}
                3Nod
              %br
              %a{:href => ""}
                3Q
              %br
              %a{:href => ""}
                4U
              %br
              %a{:href => ""}
                @Lux
              %br
              %a{:href => ""}
                A-Data
              %br
              %a{:href => ""}
                A4 Tech
              %br
              %a{:href => ""}
                AB IPBox
              %br
              %a{:href => ""}
                Ace
              %br
              %a{:href => ""}
                Acer
              %br
              %a{:href => ""}
                ACME
              %br
              %a{:href => ""}
                Acorp

          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}

detail.html
<!DOCTYPE html>
<html lang='en'>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta charset='utf-8'>
<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='' name='description'>
<meta content='' name='author'>
<title>Сервисные центры. Детальная</title>
<!-- Bootstrap core CSS -->
<link href='css/bootstrap.css' rel='stylesheet'>
<link href='css/style.css' rel='stylesheet'>
<link href='css/font-awesome.min.css' rel='stylesheet'>
<link href='css/font-awesome.min.css' rel='stylesheet'>
</head>
<body>
<div class='container'>
<div class='a-top'>
<img src='images/banner_top.gif'>
</div>
<div class='header-menu-page'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12'>
<div class='logo'>
<a href=''>
<img src='images/logo_page.png'>
</a>
</div>
<div class='form-inner'>
<form class='page-form' role='form'>
<div class='form-group visible-500'>
<div class='main-but'>
<button class='btn' type=''>найти</button>
</div>
<div class='main-search'>
<input class='form-control' type=''>
</div>
</div>
<div class='input-group hidden-500 main-search'>
<input class='form-control' type='text'>
<span class='input-group-btn'>
<button class='btn btn-default' type='submit'>
<i class='glyphicon glyphicon-search'></i>
</button>
</span>
</div>
</form>
</div>
<div class='menu-small'>
<div class='hidden-xs'>
<a href='#'>Вход</a>
<a href='#'>Регистрация</a>
</div>
<div class='btn-group visible-xs'>
<button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
<i class='fa fa-bars'></i>
</button>
<ul class='dropdown-menu dropdown-menu-right' role='menu'>
<li>
<a href='#'>Вход</a>
</li>
<li>
<a href='#'>Регистрация</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='liner-all'></div>
</div>
<div class='container'>
<div class='back-white-page'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12'>
<ol class='breadcrumb'>
<li>
<a href='#'>Главная</a>
<span class='glyphicon glyphicon-chevron-right'></span>
</li>
<li>
<a href='#'>
Киевская область
</a>
<span class='glyphicon glyphicon-chevron-right'></span>
</li>
<li>
<a href='#'>
Киев
</a>
<span class='glyphicon glyphicon-chevron-right'></span>
</li>
<li class='active'>Samsung</li>
</ol>
<h2>
Сервисный центр RSS
</h2>
</div>
</div>
<div class='col-page-rt'>
<div class='col-page-rt-inner'>
<div class='row'>
<div class='col-xs-12 col-sm-8'>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
Сервисный центр:
</div>
<div class='col-xs-6 col-sm-8'>
<b>
RSS
</b>
</div>
</div>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
Адрес:
</div>
<div class='col-xs-6 col-sm-8'>
<b>
г. Алушта,
</b>
ул. Партизанская 9 (за Фуршетом)
<a class='text-right' href=''>
Карта
<i class='fa fa-map-marker'></i>
</a>
</div>
</div>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
Тел / факс:
</div>
<div class='col-xs-6 col-sm-8'>
+7 (978) 056-54-06
</div>
</div>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
Другие телефоны:
</div>
<div class='col-xs-6 col-sm-8'>
+7 (978) 056-54-06
</div>
</div>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
E-mail:
</div>
<div class='col-xs-6 col-sm-8'>
<a href=''>
service@crimea.rss.ru
</a>
</div>
</div>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
Сайт:
</div>
<div class='col-xs-6'>
http://www.rss.ru/regions/alushta
</div>
<br>
</div>
<div class='liner-grey clearfix'></div>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
Время работы:
</div>
<div class='col-xs-6'>
09:30-19:00 (будни)
<br>
10:00-16:00 (выходные)
</div>
</div>
<div class='liner-grey clearfix'></div>
<div class='row'>
<div class='col-xs-6 col-sm-4'>
Социальные сети:
</div>
<div class='col-xs-6 social'>
<a href=''>
<i class='fa fa-facebook-square'></i>
</a>
<a href=''>
<i class='fa fa-google-plus-square'></i>
</a>
<a href=''>
<i class='fa fa-twitter-square'></i>
</a>
<a href=''>
<i class='fa fa-vk'></i>
</a>
<a href=''>
<i class='fa fa-odnoklassniki-square'></i>
</a>
<a href=''>
<i class='fa fa-youtube-square'></i>
</a>
</div>
</div>
<div class='visible-xs'>
<div class='liner-grey clearfix'></div>
</div>
</div>
<div class='col-xs-12 col-sm-4'>
Стоимость работ
<div class='reiting_6'></div>
Качество обслуживания
<div class='reiting_10'></div>
Клиент
<div class='reiting_2'></div>
Время работ
<div class='reiting_8'></div>
</div>
</div>
<div class='liner-grey clearfix'></div>
<div class='row-ctlg icon-page'>
<img src='images/icon_review.gif'>
<a href=''>
Отправить отзыв о сервисном центре
</a>
<br>
<img src='images/icon_no_cont.gif'>
<a href=''>
Пожаловаться на неправильные контактные данные.
</a>
<br>
<img src='images/icon_ask.gif'>
<a href=''>
Отправить запрос в сервисный центр
</a>
<br>
<img src='images/ico_zakaz.gif'>
<a href=''>
Проверить статус своего заказа
</a>
</div>
<div class='row row-ctlg'>
<div class='col-xs-12'>
Профессиональный ремонт компьютерной и офисной техники ведущих мировых производителей. Гарантийное обслуживание и платный ремонт IT оборудования. Сервисный Центр RSS – всегда готов Вам помочь отремонтировать любой электрический прибор. Вы всегда получите высококвалифицированную консультацию от мастеров по любым вопросам.
<br>
<br>
Мы оказываем услуги по ремонту офисной техники, ремонту ноутбуков, ремонту персональных компьютеров, производим замену запчастей, и производим техническое обслуживание компьютерной техники. Если Вам сложно привезти к нам на ремонт технику, мы можем приехать к Вам, и произвести ремонт либо на офисе, либо забрать её в наш сервисный центр.
<br>
<br>
Мы производим ремонт продуктов всех фирм. У нас всегда проводится первичная диагностика и только после того, как стоимость ремонта согласована с клиентом, производится ремонт.
</div>
</div>
</div>
</div>
<div class='a-right'>
<img src='images/banner600.jpg'>
</div>
</div>
</div>
</div>
<div class='container'>
<div class='liner-all'></div>
<div class='back-grey'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12'>
<h2>
Отзывы
</h2>
</div>
</div>
<div class='row'>
<div class='col-xs-12'>
<h4 class='pull-left'>
Отзывы о сервисном центре «F1Center», г. Киев:
</h4>
<a class='pull-right' href=''>
Все отзывы
</a>
</div>
</div>
<div class='row'>
<div class='col-xs-12 col-sm-4'>
<div class='circle-name'>
ME
</div>
19.12.2016
<br>
Мельниченко Елена
</div>
<div class='col-xs-12 col-sm-8 row-ctlg'>
Впечатление rкрайне негативное. В июне чинила ноут (Квитанция №881814) - погас экран, однако в некоторых положениях загорался. Сперва проблему определили как дефект проводочка (не знаю, как называется: пасик? усик?), соединяющего экран с базой. Заменили, слупили нормальную цену. Через два дня после того, как забрала ноут, экран погас опять. Взяли на повторную диагностику, за которую обещали снять деньги в случае, если я откажусь от повторного ремонта. А может вы неправильно диагностировали проблему и я заплатила за то, что ремонтировать не надо было? Провели диагностику вновь, оказалось, необходимо менять экран. Ноут в сервисе пробыл до августа или даже до сентября, якобы не было деталей.
<div class='review'>
<button class='btn btn-defaul btn-xs'>
Полезный отзыв
</button>
5 человек считают этот отзыв полезным
</div>
</div>
</div>
<div class='row'>
<div class='col-xs-12 col-sm-4'>
<div class='circle-name'>
CA
</div>
18.02.2016
<br>
Самсоненко Алексей
</div>
<div class='col-xs-12 col-sm-8 row-ctlg'>
Здравствуйте кто читает этот отзыв ) Не рекомендую этот сервисный центр .Я обратился к ним как одному из крупных и официальных центров которые занимаются ремонтом ноутбуков так как у меня начались траблы с ноутом .
<br>
<br>
<b>
Ответ представителя СЦ:
</b>
<br>
Добрый день. Уважаемый Алексей, мы получили Ваше устройство для диагностики с дефектом «Не стартует, не выводит изображение на экран, только индикация, до этого периодически выбивало синий экран с ошибкой, грелся при нагрузке.».
</div>
</div>
</div>
</div>
</div>
<div class='container'>
<div class='clearfix liner-all'></div>
<div class='back-white'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12'>
<h2>
Медали, награды
</h2>
</div>
</div>
<div class='row row-ctlg'>
<div class='col-xs-12'>
<h4>
Медали и награды, которые получил сервисный центр «F1Center», г. Киев:
</h4>
<img src='images/silver_medal.png'>
</div>
</div>
</div>
</div>
</div>
<div class='container'>
<div class='clearfix liner-all'></div>
<div class='back-white'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12'>
<h2>
Авторизации. Гарантийный ремонт
</h2>
</div>
</div>
<div class='row'>
<div class='col-xs-12'>
<h4>
Список категорий товаров и производителей, по которым сервисный центр «F1Center» оказывает услуги гарантийного ремонта:
</h4>
</div>
</div>
<div class='row row-ctlg'>
<div class='col-xs-12 col-sm-6'>
<a href=''>
DVD/Blu-ray плееры:
</a>
Arcam, Asus, Harman Kardon, Jamo, Toshiba, Yamaha
<br>
<a href=''>
GPS - навигаторы:
</a>
Asus, GSmart, Tenex
<br>
<a href=''>
Hi-Fi и Hi-End компоненты:
</a>
Arcam, Asus, ELAC, Harman Kardon, Infinity, Jamo, JBL, Monitor Audio, Nuvo, Rega, REL, Runco, Sunfire, Toshiba, Yamaha
<br>
<a href=''>
MP3 плееры:
</a>
Genius, Harman Kardon, Labtec, Logitech
<br>
<a href=''>
Автомагнитолы,
</a>
CD/DVD проигрыватели: Harman Kardon, Rega
<br>
<a href=''>
Автомобильные CD/DVD-ченджеры:
</a>
Harman Kardon, Nuvo, Rega
<br>
<a href=''>
Автомобильные акустические системы:
</a>
ELAC, Harman Kardon, Infinity, Phase
</div>
<div class='col-xs-12 col-sm-6'>
<a href=''>
DVD/Blu-ray плееры:
</a>
Arcam, Asus, Harman Kardon, Jamo, Toshiba, Yamaha
<br>
<a href=''>
GPS - навигаторы:
</a>
Asus, GSmart, Tenex
<br>
<a href=''>
Hi-Fi и Hi-End компоненты:
</a>
Arcam, Asus, ELAC, Harman Kardon, Infinity, Jamo, JBL, Monitor Audio, Nuvo, Rega, REL, Runco, Sunfire, Toshiba, Yamaha
<br>
<a href=''>
MP3 плееры:
</a>
Genius, Harman Kardon, Labtec, Logitech
<br>
<a href=''>
Автомагнитолы,
</a>
CD/DVD проигрыватели: Harman Kardon, Rega
<br>
<a href=''>
Автомобильные CD/DVD-ченджеры:
</a>
Harman Kardon, Nuvo, Rega
<br>
<a href=''>
Автомобильные акустические системы:
</a>
ELAC, Harman Kardon, Infinity, Phase
</div>
</div>
</div>
</div>
</div>
<div class='container'>
<div class='liner-all'></div>
<div class='back-grey'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12'>
<h2>
Категории
</h2>
</div>
</div>
<div class='row font12 row-ctlg'>
<div class='col-xs-12 col-sm-3'>
<a href=''>
ADSL оборудование
</a>
<br>
<a href=''>
Bluetooth оборудование
</a>
<br>
<a href=''>
CDMA телефоны
</a>
<br>
<a href=''>
DVD/Blu-ray плееры
</a>
<br>
<a href=''>
FM трансмиттеры
</a>
<br>
<a href=''>
GPS - навигаторы
</a>
<br>
<a href=''>
GSM шлюзы, Skype телефоны
</a>
<br>
<a href=''>
GSM/CDMA оборудование
</a>
<br>
<a href=''>
Hi-Fi и Hi-End компоненты
</a>
<br>
<a href=''>
IP АТС
</a>
<br>
<a href=''>
IP видеотелефоны
</a>
</div>
<div class='col-xs-12 col-sm-3'>
<a href=''>
ADSL оборудование
</a>
<br>
<a href=''>
Bluetooth оборудование
</a>
<br>
<a href=''>
CDMA телефоны
</a>
<br>
<a href=''>
DVD/Blu-ray плееры
</a>
<br>
<a href=''>
FM трансмиттеры
</a>
<br>
<a href=''>
GPS - навигаторы
</a>
<br>
<a href=''>
GSM шлюзы, Skype телефоны
</a>
<br>
<a href=''>
GSM/CDMA оборудование
</a>
<br>
<a href=''>
Hi-Fi и Hi-End компоненты
</a>
<br>
<a href=''>
IP АТС
</a>
<br>
<a href=''>
IP видеотелефоны
</a>
</div>
<div class='col-xs-12 col-sm-3'>
<a href=''>
ADSL оборудование
</a>
<br>
<a href=''>
Bluetooth оборудование
</a>
<br>
<a href=''>
CDMA телефоны
</a>
<br>
<a href=''>
DVD/Blu-ray плееры
</a>
<br>
<a href=''>
FM трансмиттеры
</a>
<br>
<a href=''>
GPS - навигаторы
</a>
<br>
<a href=''>
GSM шлюзы, Skype телефоны
</a>
<br>
<a href=''>
GSM/CDMA оборудование
</a>
<br>
<a href=''>
Hi-Fi и Hi-End компоненты
</a>
<br>
<a href=''>
IP АТС
</a>
<br>
<a href=''>
IP видеотелефоны
</a>
</div>
<div class='col-xs-12 col-sm-3'>
<a href=''>
ADSL оборудование
</a>
<br>
<a href=''>
Bluetooth оборудование
</a>
<br>
<a href=''>
CDMA телефоны
</a>
<br>
<a href=''>
DVD/Blu-ray плееры
</a>
<br>
<a href=''>
FM трансмиттеры
</a>
<br>
<a href=''>
GPS - навигаторы
</a>
<br>
<a href=''>
GSM шлюзы, Skype телефоны
</a>
<br>
<a href=''>
GSM/CDMA оборудование
</a>
<br>
<a href=''>
Hi-Fi и Hi-End компоненты
</a>
<br>
<a href=''>
IP АТС
</a>
<br>
<a href=''>
IP видеотелефоны
</a>
</div>
</div>
</div>
</div>
</div>
<div class='container'>
<div class='clearfix liner-all'></div>
<div class='back-white'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12'>
<h2>
Бренды
</h2>
</div>
</div>
<div class='row'>
<div class='col-xs-12'>
<h4>
Все бренды товаров, которые обслуживает «RSS»:
</h4>
</div>
</div>
<div class='row font12 row-ctlg'>
<div class='col-xs-6 col-sm-2'>
<a href=''>
2N
</a>
<br>
<a href=''>
2N Telekomunikace
</a>
<br>
<a href=''>
3Com
</a>
<br>
<a href=''>
3M
</a>
<br>
<a href=''>
3Nod
</a>
<br>
<a href=''>
3Q
</a>
<br>
<a href=''>
4U
</a>
<br>
<a href=''>
@Lux
</a>
<br>
<a href=''>
A-Data
</a>
<br>
<a href=''>
A4 Tech
</a>
<br>
<a href=''>
AB IPBox
</a>
<br>
<a href=''>
Ace
</a>
<br>
<a href=''>
Acer
</a>
<br>
<a href=''>
ACME
</a>
<br>
<a href=''>
Acorp
</a>
</div>
<div class='col-xs-6 col-sm-2'>
<a href=''>
2N
</a>
<br>
<a href=''>
2N Telekomunikace
</a>
<br>
<a href=''>
3Com
</a>
<br>
<a href=''>
3M
</a>
<br>
<a href=''>
3Nod
</a>
<br>
<a href=''>
3Q
</a>
<br>
<a href=''>
4U
</a>
<br>
<a href=''>
@Lux
</a>
<br>
<a href=''>
A-Data
</a>
<br>
<a href=''>
A4 Tech
</a>
<br>
<a href=''>
AB IPBox
</a>
<br>
<a href=''>
Ace
</a>
<br>
<a href=''>
Acer
</a>
<br>
<a href=''>
ACME
</a>
<br>
<a href=''>
Acorp
</a>
</div>
<div class='col-xs-6 col-sm-2'>
<a href=''>
2N
</a>
<br>
<a href=''>
2N Telekomunikace
</a>
<br>
<a href=''>
3Com
</a>
<br>
<a href=''>
3M
</a>
<br>
<a href=''>
3Nod
</a>
<br>
<a href=''>
3Q
</a>
<br>
<a href=''>
4U
</a>
<br>
<a href=''>
@Lux
</a>
<br>
<a href=''>
A-Data
</a>
<br>
<a href=''>
A4 Tech
</a>
<br>
<a href=''>
AB IPBox
</a>
<br>
<a href=''>
Ace
</a>
<br>
<a href=''>
Acer
</a>
<br>
<a href=''>
ACME
</a>
<br>
<a href=''>
Acorp
</a>
</div>
<div class='col-xs-6 col-sm-2'>
<a href=''>
2N
</a>
<br>
<a href=''>
2N Telekomunikace
</a>
<br>
<a href=''>
3Com
</a>
<br>
<a href=''>
3M
</a>
<br>
<a href=''>
3Nod
</a>
<br>
<a href=''>
3Q
</a>
<br>
<a href=''>
4U
</a>
<br>
<a href=''>
@Lux
</a>
<br>
<a href=''>
A-Data
</a>
<br>
<a href=''>
A4 Tech
</a>
<br>
<a href=''>
AB IPBox
</a>
<br>
<a href=''>
Ace
</a>
<br>
<a href=''>
Acer
</a>
<br>
<a href=''>
ACME
</a>
<br>
<a href=''>
Acorp
</a>
</div>
<div class='col-xs-6 col-sm-2'>
<a href=''>
2N
</a>
<br>
<a href=''>
2N Telekomunikace
</a>
<br>
<a href=''>
3Com
</a>
<br>
<a href=''>
3M
</a>
<br>
<a href=''>
3Nod
</a>
<br>
<a href=''>
3Q
</a>
<br>
<a href=''>
4U
</a>
<br>
<a href=''>
@Lux
</a>
<br>
<a href=''>
A-Data
</a>
<br>
<a href=''>
A4 Tech
</a>
<br>
<a href=''>
AB IPBox
</a>
<br>
<a href=''>
Ace
</a>
<br>
<a href=''>
Acer
</a>
<br>
<a href=''>
ACME
</a>
<br>
<a href=''>
Acorp
</a>
</div>
<div class='col-xs-6 col-sm-2'>
<a href=''>
2N
</a>
<br>
<a href=''>
2N Telekomunikace
</a>
<br>
<a href=''>
3Com
</a>
<br>
<a href=''>
3M
</a>
<br>
<a href=''>
3Nod
</a>
<br>
<a href=''>
3Q
</a>
<br>
<a href=''>
4U
</a>
<br>
<a href=''>
@Lux
</a>
<br>
<a href=''>
A-Data
</a>
<br>
<a href=''>
A4 Tech
</a>
<br>
<a href=''>
AB IPBox
</a>
<br>
<a href=''>
Ace
</a>
<br>
<a href=''>
Acer
</a>
<br>
<a href=''>
ACME
</a>
<br>
<a href=''>
Acorp
</a>
</div>
</div>
</div>
</div>
</div>
<div class='container'>
<div class='liner-all'></div>
<div class='footer back-green'>
<div class='inner'>
<div class='row'>
<div class='col-xs-12 col-sm-4'>
<div class='copy'>
© 2008-2017 Сервисные центры Украины
<br>
<br>
При копировании материалов ссылка на servicecenter.com.ua
обязательна.
<br>
<br>
</div>
</div>
<div class='col-sm-6 col-xs-6'>
<div class='row hidden-xs'>
<div class='col-sm-6 col-xs-12'>
<a href=''>
Сервисным центрам
</a>
<br>
<a href=''>
Веб-мастерам
</a>
<br>
<a href=''>
Рекламодателям
</a>
</div>
<div class='col-sm-6 col-xs-12'>
<a href=''>
Контакты
</a>
<br>
<a href=''>
Поддержка
</a>
<br>
<a href=''>
О проекте
</a>
</div>
</div>
<a href=''>
Сервисным центрам
</a>
<br>
<a href=''>
Веб-мастерам
</a>
<br>
<a href=''>
Рекламодателям
</a>
<a href=''>
Контакты
</a>
<br>
<a href=''>
Поддержка
</a>
<br>
<a href=''>
О проекте
</a>
</div>
<div class='col-xs-6 col-sm-2 text-right'>
<img src='images/icon_ramb.png'>
<br>
<img src='images/icon_mail.png'>
<br>
<img src='images/icon_live.png'>
<br>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>
