haml/index.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Главная
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu.hidden-xs
        .inner
          .row
            .col-sm-6.date
              20 мая 2017 понедельник 20:17
            .col-xs-12.col-sm-6.text-right
      
              %a{:href => ""}
                Вход
              %a{:href => ""}
                Регистрация
      .liner-all
      .header

        .inner.row
        
          .logo
            
            %a{:href => ""}
              %img{:src => "images/logo.png", "height" => "109"}
          .form-inner
            .index-form
              %h1
                Сервисные центры Украины
            
              %form.main-form{:role => "form"}
                .form-group.visible-500
                  
                  .main-but
                    %button.btn{:type => ""} найти
                  .main-search
                    %input.form-control{ :type => ""}/
                .exp.visible-500
                  Например: ремонт фотоаппарата
                .input-group.hidden-500.main-search
                  %input.form-control{:type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "submit"}
                      %i.glyphicon.glyphicon-search
          .menu-small-index.visible-xs
            .btn-group
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              
                %i.fa.fa-bars
              
           
              %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                %li
                  %a{:href => "#"} Вход
                %li
                  %a{:href => "#"} Регистрация


            
    .container
      .back-white  
        .inner
          .row
            .col-xs-12
              %h2
                Каталог сервисных центров
          
          .row
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Фототехника
                  %sup.badge
                    +2
              .liner-grey
              %a{:href => ""}
                Вспышки  
              %br
              %a{:href => ""}
                Карты памяти
              %br
              %a{:href => ""}
                Кинооборудование
              %br
              %a{:href => ""}
                Объективы
              %br
              %a{:href => ""}
                Цифровые фотоаппараты
              %a{:href => ""}   
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Авто
                  %sup.badge
                    +7
              .liner-grey
              %a{:href => ""}
                Автосервис  
              %br
              %a{:href => ""}
                Автомобильная электроника
            .clearfix.visible-sm
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg

              %a{:href => ""}
                %h3
                  Бытовая техника
                  %sup.badge
                    +1
              .liner-grey
              %a{:href => ""}
                Крупная бытовая техника  
              %br
              %a{:href => ""}
                Техника для кухни
              %br
              %a{:href => ""}
                Климатическая техника 
              %br
              %a{:href => ""}
                Встраиваемая техника
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Телефония и cвязь
                  %sup.badge
                    +3
              .liner-grey
              %a{:href => ""}
                КПК и коммуникаторы 
              %br
              %a{:href => ""}
                Мини-АТС
              %br
              %a{:href => ""}
                Мобильные телефоны 
              %br
              %a{:href => ""}
                Радиотелефоны
              %br
              %a{:href => ""}
                CDMA телефоны
            .clearfix.visible-sm
          .row
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Компьютерная техника
              .liner-grey
              %a{:href => ""}
                Мониторы  
              %br
              %a{:href => ""}
                Планшеты
              %br
              %a{:href => ""}
                Ноутбуки
              %br
              %a{:href => ""}
                Персональные компьютеры
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Аудиотехника
              .liner-grey
              %a{:href => ""}
                Акустические системы  
              %br
              %a{:href => ""}
                Домашние кинотеатры
              %br
              %a{:href => ""}
                Магнитолы
              %br
              %a{:href => ""}
                Микрофоны
              %br
              %a{:href => ""}
                Музыкальные центры 
            .clearfix.visible-sm
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Видеотехника
              .liner-grey
              %a{:href => ""}
                DVD/Blu-ray плееры   
              %br
              %a{:href => ""}
                Видеокамеры
              %br
              %a{:href => ""}
                Видеоплееры
              %br
              %a{:href => ""}
                Проекционное оборудование
              %br
              %a{:href => ""}
                Телевизоры  
          
            .col-xs-12.col-sm-6.col-md-3.row-ctlg
              %a{:href => ""}
                %h3
                  Инструменты
              .liner-grey
              %a{:href => ""}
                Бензотехника 
              %br
              %a{:href => ""}
                Пневмотехника, пневмоинструмент 
              %br
              %a{:href => ""}
                Электротехника, электроинструмент  
    .container
      .liner-all
      .back-grey
        .inner
          .row
            .col-xs-12
              %h2
                Сервисные центры по городам
          .row
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
              %sup.badge.badge-white
                +8
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
                %sup.badge.badge-white
                  +6
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Винницкая область
                %sup.badge.badge-white
                  +8
              .liner-town
              %a.font18{:href => ""}
                Винница
              %br
              %a{:href => ""}
                Жмеринка
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Днепропетровская область
              .liner-town
              %a.font18{:href => ""}
                Днепр
              %br
              %a{:href => ""}
                Новомосковск
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
          
            .col-xs-12.col-sm-4.col-md-3.row-ctlg
              %a.font12{:href => ""}
                Донецкая область
              .liner-town
              %a.font18{:href => ""}
                Донецк
              %br
              %a{:href => ""}
                Макеевка
              %br
              %a{:href => ""}
                Павлоград
              %br
              %a{:href => ""}
                Никополь
    .container
      .liner-all
      .back-white  
        .inner
          .row
            .col-xs-12
              %h2
                Рейтинг сервисных центров
              
          .row
            .col-xs-12.col-sm-6.row-ctlg
              
              %h4 
                Топ сервисных центров
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45

              .reiting
                8.009
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «ХарьковБумСервис»
                  г. Харьков
                  .namer-adres
                    
                    ул. Б.Хмельницкого, 24
                    %br
                    099 89-67-45
                 

              .reiting
                60.345
             
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «POWER-мастер»
                  г. Киев
                  .namer-adres
                    ул. Шелковичная, 42
                    %br
                    099 89-67-45
              .reiting
                60.345
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45

              .reiting
                8.009
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «ХарьковБумСервис»
                  г. Харьков
                  .namer-adres
                    
                    ул. Б.Хмельницкого, 24
                    %br
                    099 89-67-45
                 

              .reiting
                60.345
             
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «POWER-мастер»
                  г. Киев
                  .namer-adres
                    ул. Шелковичная, 42
                    %br
                    099 89-67-45
              .reiting
                60.345
              .clearfix  
              %a{:href => ""}
                Полный Рейтинг сервисных центров

              
            .col-xs-12.col-sm-6.row-ctlg
              
              %h4 
                Развивающиеся сервисные центры
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45

              .reiting
                8.009
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «ХарьковБумСервис»
                  г. Харьков
                  .namer-adres
                    
                    ул. Б.Хмельницкого, 24
                    %br
                    099 89-67-45
                 

              .reiting
                60.345
             
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «POWER-мастер»
                  г. Киев
                  .namer-adres
                    ул. Шелковичная, 42
                    %br
                    099 89-67-45
              .reiting
                60.345
              .liner-grey
              .namer
                .in-namer
                  %a{:href => ""}
                    «Юпитер»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              
              .liner-grey
              
              .namer
                .in-namer
                  %a{:href => ""}
                    «Mustek-service»
                  г. Харьков
                  .namer-adres
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    %br
                    099 89-67-45
              .reiting
                60.345
              .clearfix
              %br
              %h4
                Прочие сeрвисные центры
              .logo-service
                .row
                  .col-xs-12.col-sm-4
                    %img{:src => "images/HP.gif"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
                  
                  .logo-bottom
                  .col-xs-12.col-sm-4
                    %img{:src => "images/HP.gif"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
                  .logo-right.hidden-xs
                  .logo-bottom.visible-xs
                  .col-xs-12.col-sm-4
                    %img{:src => "images/lg.png"}
            
              
    .container
      .liner-all
      .back-grey
        .inner
          .row
            .col-xs-12
              %h2
                Сервисные центры - последние отзывы посетителей
          .row
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Солярис» (г.Харьков)
              %p
                29.01.2017   Хочу выразить благодарность персоналу СЦ Солярис. В кротчайшие сроки ребята починили мой ноутбук. Была в городе проездом на пару недель и по приезду ноут выключился и больше не хотел включаться. Нашла...
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Солярис» (г.Харьков)
              %p
                29.01.2017   Хочу выразить благодарность персоналу СЦ Солярис. В кротчайшие сроки ребята починили мой ноутбук. Была в городе проездом на пару недель и по приезду ноут выключился и больше не хотел включаться. Нашла...
          .row
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Компьютерная помощь» (г.Киев)
              %p
                26.01.2017   Был неприятный опыт обращения в раскрученный сервисный центр. Сестра посоветовала выбрать сервис по отзывам на этом сайте. Так и сделала. Все оперативно, консультация качественная, в процессе общения и...
            .col-xs-12.col-sm-6.row-ctlg
              %a.font18{:href => ""}
                О сервисном центре «Компьютерная помощь» (г.Киев)
              %p
                26.01.2017   Был неприятный опыт обращения в раскрученный сервисный центр. Сестра посоветовала выбрать сервис по отзывам на этом сайте. Так и сделала. Все оперативно, консультация качественная, в процессе общения и...
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}

index.html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>Сервисные центры. Главная</title>
    <!-- Bootstrap core CSS -->
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <div class='a-top'>
        <img src='images/banner_top.gif'>
      </div>
      <div class='header-menu hidden-xs'>
        <div class='inner'>
          <div class='row'>
            <div class='col-sm-6 date'>
              20 мая 2017 понедельник 20:17
            </div>
            <div class='col-xs-12 col-sm-6 text-right'>
              <a href=''>
                Вход
              </a>
              <a href=''>
                Регистрация
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class='liner-all'></div>
      <div class='header'>
        <div class='inner row'>
          <div class='logo'>
            <a href=''>
              <img height='109' src='images/logo.png'>
            </a>
          </div>
          <div class='form-inner'>
            <div class='index-form'>
              <h1>
                Сервисные центры Украины
              </h1>
              <form class='main-form' role='form'>
                <div class='form-group visible-500'>
                  <div class='main-but'>
                    <button class='btn' type=''>найти</button>
                  </div>
                  <div class='main-search'>
                    <input class='form-control' type=''>
                  </div>
                </div>
                <div class='exp visible-500'>
                  Например: ремонт фотоаппарата
                </div>
                <div class='input-group hidden-500 main-search'>
                  <input class='form-control' type='text'>
                  <span class='input-group-btn'>
                    <button class='btn btn-default' type='submit'>
                      <i class='glyphicon glyphicon-search'></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class='menu-small-index visible-xs'>
            <div class='btn-group'>
              <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                <i class='fa fa-bars'></i>
              </button>
              <ul class='dropdown-menu dropdown-menu-right' role='menu'>
                <li>
                  <a href='#'>Вход</a>
                </li>
                <li>
                  <a href='#'>Регистрация</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='back-white'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <h2>
                Каталог сервисных центров
              </h2>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Фототехника
                  <sup class='badge'>
                    +2
                  </sup>
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                Вспышки  
              </a>
              <br>
              <a href=''>
                Карты памяти
              </a>
              <br>
              <a href=''>
                Кинооборудование
              </a>
              <br>
              <a href=''>
                Объективы
              </a>
              <br>
              <a href=''>
                Цифровые фотоаппараты
              </a>
              <a href=''></a>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Авто
                  <sup class='badge'>
                    +7
                  </sup>
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                Автосервис  
              </a>
              <br>
              <a href=''>
                Автомобильная электроника
              </a>
            </div>
            <div class='clearfix visible-sm'></div>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Бытовая техника
                  <sup class='badge'>
                    +1
                  </sup>
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                Крупная бытовая техника  
              </a>
              <br>
              <a href=''>
                Техника для кухни
              </a>
              <br>
              <a href=''>
                Климатическая техника
              </a>
              <br>
              <a href=''>
                Встраиваемая техника
              </a>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Телефония и cвязь
                  <sup class='badge'>
                    +3
                  </sup>
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                КПК и коммуникаторы 
              </a>
              <br>
              <a href=''>
                Мини-АТС
              </a>
              <br>
              <a href=''>
                Мобильные телефоны
              </a>
              <br>
              <a href=''>
                Радиотелефоны
              </a>
              <br>
              <a href=''>
                CDMA телефоны
              </a>
            </div>
            <div class='clearfix visible-sm'></div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Компьютерная техника
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                Мониторы  
              </a>
              <br>
              <a href=''>
                Планшеты
              </a>
              <br>
              <a href=''>
                Ноутбуки
              </a>
              <br>
              <a href=''>
                Персональные компьютеры
              </a>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Аудиотехника
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                Акустические системы  
              </a>
              <br>
              <a href=''>
                Домашние кинотеатры
              </a>
              <br>
              <a href=''>
                Магнитолы
              </a>
              <br>
              <a href=''>
                Микрофоны
              </a>
              <br>
              <a href=''>
                Музыкальные центры 
              </a>
            </div>
            <div class='clearfix visible-sm'></div>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Видеотехника
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                DVD/Blu-ray плееры   
              </a>
              <br>
              <a href=''>
                Видеокамеры
              </a>
              <br>
              <a href=''>
                Видеоплееры
              </a>
              <br>
              <a href=''>
                Проекционное оборудование
              </a>
              <br>
              <a href=''>
                Телевизоры  
              </a>
            </div>
            <div class='col-xs-12 col-sm-6 col-md-3 row-ctlg'>
              <a href=''>
                <h3>
                  Инструменты
                </h3>
              </a>
              <div class='liner-grey'></div>
              <a href=''>
                Бензотехника
              </a>
              <br>
              <a href=''>
                Пневмотехника, пневмоинструмент 
              </a>
              <br>
              <a href=''>
                Электротехника, электроинструмент 
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='back-grey'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <h2>
                Сервисные центры по городам
              </h2>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Винницкая область
              </a>
              <sup class='badge badge-white'>
                +8
              </sup>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Винница
              </a>
              <br>
              <a href=''>
                Жмеринка
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Винницкая область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Винница
              </a>
              <br>
              <a href=''>
                Жмеринка
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Винницкая область
                <sup class='badge badge-white'>
                  +6
                </sup>
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Винница
              </a>
              <br>
              <a href=''>
                Жмеринка
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Винницкая область
                <sup class='badge badge-white'>
                  +8
                </sup>
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Винница
              </a>
              <br>
              <a href=''>
                Жмеринка
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Днепропетровская область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Днепр
              </a>
              <br>
              <a href=''>
                Новомосковск
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Днепропетровская область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Днепр
              </a>
              <br>
              <a href=''>
                Новомосковск
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Днепропетровская область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Днепр
              </a>
              <br>
              <a href=''>
                Новомосковск
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Днепропетровская область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Днепр
              </a>
              <br>
              <a href=''>
                Новомосковск
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Донецкая область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Донецк
              </a>
              <br>
              <a href=''>
                Макеевка
              </a>
              <br>
              <a href=''>
                Павлоград
              </a>
              <br>
              <a href=''>
                Никополь
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Донецкая область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Донецк
              </a>
              <br>
              <a href=''>
                Макеевка
              </a>
              <br>
              <a href=''>
                Павлоград
              </a>
              <br>
              <a href=''>
                Никополь
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Донецкая область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Донецк
              </a>
              <br>
              <a href=''>
                Макеевка
              </a>
              <br>
              <a href=''>
                Павлоград
              </a>
              <br>
              <a href=''>
                Никополь
              </a>
            </div>
            <div class='col-xs-12 col-sm-4 col-md-3 row-ctlg'>
              <a class='font12' href=''>
                Донецкая область
              </a>
              <div class='liner-town'></div>
              <a class='font18' href=''>
                Донецк
              </a>
              <br>
              <a href=''>
                Макеевка
              </a>
              <br>
              <a href=''>
                Павлоград
              </a>
              <br>
              <a href=''>
                Никополь
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='back-white'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <h2>
                Рейтинг сервисных центров
              </h2>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-6 row-ctlg'>
              <h4>
                Топ сервисных центров
              </h4>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Юпитер»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Mustek-service»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                8.009
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «ХарьковБумСервис»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Б.Хмельницкого, 24
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «POWER-мастер»
                  </a>
                  г. Киев
                  <div class='namer-adres'>
                    ул. Шелковичная, 42
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Юпитер»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Mustek-service»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                8.009
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «ХарьковБумСервис»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Б.Хмельницкого, 24
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «POWER-мастер»
                  </a>
                  г. Киев
                  <div class='namer-adres'>
                    ул. Шелковичная, 42
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='clearfix'></div>
              <a href=''>
                Полный Рейтинг сервисных центров
              </a>
            </div>
            <div class='col-xs-12 col-sm-6 row-ctlg'>
              <h4>
                Развивающиеся сервисные центры
              </h4>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Юпитер»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Mustek-service»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                8.009
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «ХарьковБумСервис»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Б.Хмельницкого, 24
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «POWER-мастер»
                  </a>
                  г. Киев
                  <div class='namer-adres'>
                    ул. Шелковичная, 42
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Юпитер»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='liner-grey'></div>
              <div class='namer'>
                <div class='in-namer'>
                  <a href=''>
                    «Mustek-service»
                  </a>
                  г. Харьков
                  <div class='namer-adres'>
                    ул. Дудинской, 4/6 (Нариманова 4/6) (метро "Холодная гора")
                    <br>
                    099 89-67-45
                  </div>
                </div>
              </div>
              <div class='reiting'>
                60.345
              </div>
              <div class='clearfix'></div>
              <br>
              <h4>
                Прочие сeрвисные центры
              </h4>
              <div class='logo-service'>
                <div class='row'>
                  <div class='col-xs-12 col-sm-4'>
                    <img src='images/HP.gif'>
                  </div>
                  <div class='logo-right hidden-xs'></div>
                  <div class='logo-bottom visible-xs'></div>
                  <div class='col-xs-12 col-sm-4'>
                    <img src='images/lg.png'>
                  </div>
                  <div class='logo-right hidden-xs'></div>
                  <div class='logo-bottom visible-xs'></div>
                  <div class='col-xs-12 col-sm-4'>
                    <img src='images/lg.png'>
                  </div>
                  <div class='logo-bottom'></div>
                  <div class='col-xs-12 col-sm-4'>
                    <img src='images/HP.gif'>
                  </div>
                  <div class='logo-right hidden-xs'></div>
                  <div class='logo-bottom visible-xs'></div>
                  <div class='col-xs-12 col-sm-4'>
                    <img src='images/lg.png'>
                  </div>
                  <div class='logo-right hidden-xs'></div>
                  <div class='logo-bottom visible-xs'></div>
                  <div class='col-xs-12 col-sm-4'>
                    <img src='images/lg.png'>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='back-grey'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <h2>
                Сервисные центры - последние отзывы посетителей
              </h2>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-6 row-ctlg'>
              <a class='font18' href=''>
                О сервисном центре «Солярис» (г.Харьков)
              </a>
              <p>
                29.01.2017   Хочу выразить благодарность персоналу СЦ Солярис. В кротчайшие сроки ребята починили мой ноутбук. Была в городе проездом на пару недель и по приезду ноут выключился и больше не хотел включаться. Нашла...
              </p>
            </div>
            <div class='col-xs-12 col-sm-6 row-ctlg'>
              <a class='font18' href=''>
                О сервисном центре «Солярис» (г.Харьков)
              </a>
              <p>
                29.01.2017   Хочу выразить благодарность персоналу СЦ Солярис. В кротчайшие сроки ребята починили мой ноутбук. Была в городе проездом на пару недель и по приезду ноут выключился и больше не хотел включаться. Нашла...
              </p>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-6 row-ctlg'>
              <a class='font18' href=''>
                О сервисном центре «Компьютерная помощь» (г.Киев)
              </a>
              <p>
                26.01.2017   Был неприятный опыт обращения в раскрученный сервисный центр. Сестра посоветовала выбрать сервис по отзывам на этом сайте. Так и сделала. Все оперативно, консультация качественная, в процессе общения и...
              </p>
            </div>
            <div class='col-xs-12 col-sm-6 row-ctlg'>
              <a class='font18' href=''>
                О сервисном центре «Компьютерная помощь» (г.Киев)
              </a>
              <p>
                26.01.2017   Был неприятный опыт обращения в раскрученный сервисный центр. Сестра посоветовала выбрать сервис по отзывам на этом сайте. Так и сделала. Все оперативно, консультация качественная, в процессе общения и...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='footer back-green'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12 col-sm-4'>
              <div class='copy'>
                © 2008-2017 Сервисные центры Украины
                <br>
                <br>
                При копировании материалов ссылка на servicecenter.com.ua
                обязательна.
                <br>
                <br>
              </div>
            </div>
            <div class='col-sm-6 col-xs-6'>
              <div class='row hidden-xs'>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Сервисным центрам
                  </a>
                  <br>
                  <a href=''>
                    Веб-мастерам
                  </a>
                  <br>
                  <a href=''>
                    Рекламодателям
                  </a>
                </div>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Контакты
                  </a>
                  <br>
                  <a href=''>
                    Поддержка
                  </a>
                  <br>
                  <a href=''>
                    О проекте
                  </a>
                </div>
              </div>
              <a href=''>
                Сервисным центрам
              </a>
              <br>
              <a href=''>
                Веб-мастерам
              </a>
              <br>
              <a href=''>
                Рекламодателям
              </a>
              <a href=''>
                Контакты
              </a>
              <br>
              <a href=''>
                Поддержка
              </a>
              <br>
              <a href=''>
                О проекте
              </a>
            </div>
            <div class='col-xs-6 col-sm-2 text-right'>
              <img src='images/icon_ramb.png'>
              <br>
              <img src='images/icon_mail.png'>
              <br>
              <img src='images/icon_live.png'>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>
