haml/list2.html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>Сервисные центры. Главная</title>
    <!-- Bootstrap core CSS -->
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <div class='ban-top'>
        <img src='images/banner_top.gif'>
      </div>
      <div class='header-menu-page'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-2'>
              <div class='logo'>
                <a href=''>
                  <img src='images/logo_page.png'>
                </a>
              </div>
            </div>
            <div class='col-xs-7'>
              <form class='page-form' role='form'>
                <div class='form-group visible-500'>
                  <div class='main-but'>
                    <button class='btn' type=''>найти</button>
                  </div>
                  <div class='main-search'>
                    <input class='form-control' type=''>
                  </div>
                </div>
                <div class='input-group hidden-500 main-search'>
                  <input class='form-control' type='text'>
                  <span class='input-group-btn'>
                    <button class='btn btn-default' type='submit'>
                      <i class='glyphicon glyphicon-search'></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
            <div class='col-xs-3'>
              <a href=''>
                Вход
              </a>
              <a href=''>
                Регистрация
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class='liner-all'></div>
      <div class='header-page'>
        <div class='inner'>
          <div class='navbar' role='navigation'>
            <div class='container'>
              <div class='navbar-header'>
                <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collapse' type='button'>
                  <span class='sr-only'>Toggle navigation</span>
                  <span class='icon-bar'></span>
                  <span class='icon-bar'></span>
                  <span class='icon-bar'></span>
                </button>
              </div>
              <div class='collapse navbar-collapse'>
                <ul class='nav navbar-nav'>
                  <li class='active'>
                    <a href='#'>Фототехника</a>
                  </li>
                  <li>
                    <a href='#about'>Авто</a>
                  </li>
                  <li>
                    <a href='#contact'>Бытовая техника</a>
                  </li>
                  <li>
                    <a href='#contact'>Телефония</a>
                  </li>
                  <li>
                    <a href='#contact'>Компьютеры</a>
                  </li>
                  <li>
                    <a href='#contact'>Копировальная</a>
                  </li>
                  <li>
                    <a href='#contact'>
                      Офисная техника
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.nav-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='back-white'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <h2>
                Список сервисных центров
              </h2>
              <ol class='breadcrumb'>
                <li>
                  <a href='#'>Главная</a>
                  <span class='glyphicon glyphicon-chevron-right'></span>
                </li>
                <li>
                  <a href='#'>Компьютерная техника</a>
                  <span class='glyphicon glyphicon-chevron-right'></span>
                </li>
                <li class='active'>Ноутбуки Acer</li>
              </ol>
            </div>
          </div>
          <div class='col-page-rt'>
            <div class='col-page-rt-inner'>
              <div class='row'>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    г. Александрия
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    «Монолит»
                  </a>
                  <br>
                  ул. 50-лет Октября 15
                  <br>
                  +38 (05235) 7-02-17
                </div>
                <div class='col-xs-12 col-sm-4 icon-page'>
                  <img src='images/icon_review.gif'>
                  <img src='images/icon_no_cont.gif'>
                  <img src='images/icon_ask.gif'>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    г. Алушта
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    «RSS»
                  </a>
                  <br>
                  ул. Партизанская 9 (за Фуршетом)
                  <br>
                  +7 (978) 056-54-06
                </div>
                <div class='col-xs-12 col-sm-4 icon-page'>
                  <img src='images/icon_review.gif'>
                  <img src='images/icon_no_cont.gif'>
                  <img src='images/icon_ask.gif'>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    г. Веселое
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    «Вольт»
                  </a>
                  <br>
                  ул. Ленина 72
                  <br>
                  +38 (06136) 2-17-67
                </div>
                <div class='col-xs-12 col-sm-4 icon-page'>
                  <img src='images/icon_review.gif'>
                  <img src='images/icon_no_cont.gif'>
                  <img src='images/icon_ask.gif'>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    г. Днепр
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    «ТехноПорт»
                  </a>
                  <br>
                  пр-т Пушкина 51
                  <br>
                  +38 (056) 744-84-94
                </div>
                <div class='col-xs-12 col-sm-4 icon-page'>
                  <img src='images/icon_review.gif'>
                  <img src='images/icon_no_cont.gif'>
                  <img src='images/icon_ask.gif'>
                </div>
                <div class='col-xs-12 col-sm-4'></div>
              </div>
              <div class='liner-invisible'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-4'></div>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    «Единый Сервис Украина»
                  </a>
                  <br>
                  ул. Коцюбинского, 1
                  <br>
                  +38 (056) 721-92-36
                </div>
                <div class='col-xs-12 col-sm-4 icon-page'>
                  <img src='images/icon_review.gif'>
                  <img src='images/icon_no_cont.gif'>
                  <img src='images/icon_ask.gif'>
                </div>
              </div>
              <div class='liner-invisible'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-4'></div>
                <div class='col-xs-12 col-sm-4'>
                  <a href=''>
                    «ТехноПорт»
                  </a>
                  <br>
                  пр-т Пушкина 51
                  <br>
                  +38 (056) 744-84-94
                </div>
                <div class='col-xs-12 col-sm-4 icon-page'>
                  <img src='images/icon_review.gif'>
                  <img src='images/icon_no_cont.gif'>
                  <img src='images/icon_ask.gif'>
                </div>
              </div>
              <div class='clearfix'></div>
            </div>
          </div>
          <div class='a-right'>
            <img src='images/banner600.jpg'>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='footer back-green'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12 col-sm-4'>
              <div class='copy'>
                © 2008-2017 Сервисные центры Украины
                <br>
                <br>
                При копировании материалов ссылка на servicecenter.com.ua
                обязательна.
                <br>
                <br>
              </div>
            </div>
            <div class='col-sm-6 col-xs-6'>
              <div class='row hidden-xs'>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Сервисным центрам
                  </a>
                  <br>
                  <a href=''>
                    Веб-мастерам
                  </a>
                  <br>
                  <a href=''>
                    Рекламодателям
                  </a>
                </div>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Контакты
                  </a>
                  <br>
                  <a href=''>
                    Поддержка
                  </a>
                  <br>
                  <a href=''>
                    О проекте
                  </a>
                </div>
              </div>
              <a href=''>
                Сервисным центрам
              </a>
              <br>
              <a href=''>
                Веб-мастерам
              </a>
              <br>
              <a href=''>
                Рекламодателям
              </a>
              <a href=''>
                Контакты
              </a>
              <br>
              <a href=''>
                Поддержка
              </a>
              <br>
              <a href=''>
                О проекте
              </a>
            </div>
            <div class='col-xs-6 col-sm-2 text-right'>
              <img src='images/icon_ramb.png'>
              <br>
              <img src='images/icon_mail.png'>
              <br>
              <img src='images/icon_live.png'>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>

haml/list2.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Главная
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/

  %body
    .container
      
      .ban-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-2
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            .col-xs-7
              
              %form.page-form{:role => "form"}
                .form-group.visible-500
                  
                  .main-but
                    %button.btn{:type => ""} найти
                  .main-search
                    %input.form-control{ :type => ""}/
                .input-group.hidden-500.main-search
                  %input.form-control{:type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "submit"}
                      %i.glyphicon.glyphicon-search
            .col-xs-3
      
              %a{:href => ""}
                Вход
              %a{:href => ""}
                Регистрация
      .liner-all
      .header-page

        .inner
          .navbar{:role => "navigation"}
            .container
              .navbar-header
                %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
               
              .collapse.navbar-collapse
                %ul.nav.navbar-nav
                  %li.active
                    %a{:href => "#"} Фототехника
                  %li
                    %a{:href => "#about"} Авто
                  %li
                    %a{:href => "#contact"} Бытовая техника
                  %li
                    %a{:href => "#contact"} Телефония
                  %li
                    %a{:href => "#contact"} Компьютеры 
                  %li
                    %a{:href => "#contact"} Копировальная
                  %li
                    %a{:href => "#contact"}
                      Офисная техника   
              / /.nav-collapse

    .container
      .back-white  
        .inner
          
          .row
            .col-xs-12

              %h2
                Список сервисных центров
              %ol.breadcrumb
                %li
                  %a{:href => "#"} Главная
                  %span.glyphicon.glyphicon-chevron-right
                %li
                  %a{:href => "#"} Компьютерная техника
                  %span.glyphicon.glyphicon-chevron-right
                %li.active Ноутбуки Acer
          .col-page-rt
            .col-page-rt-inner
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Александрия          
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «Монолит»
                  %br
                  ул. 50-лет Октября 15
                  %br
                  +38 (05235) 7-02-17                      
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Алушта         
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «RSS»
                  %br
                  ул. Партизанская 9 (за Фуршетом)
                  %br
                  +7 (978) 056-54-06                    
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Веселое        
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «Вольт»
                  %br
                  ул. Ленина 72
                  %br
                  +38 (06136) 2-17-67  
                  
                           
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
                  
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    г. Днепр         
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «ТехноПорт»
                  %br
                  пр-т Пушкина 51
                  %br
                  +38 (056) 744-84-94                    
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
                .col-xs-12.col-sm-4
              .liner-invisible
              .row
                .col-xs-12.col-sm-4
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «Единый Сервис Украина»
                  %br
                  ул. Коцюбинского, 1
                  %br
                  +38 (056) 721-92-36                   
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
                
              .liner-invisible
              .row
                .col-xs-12.col-sm-4 
                .col-xs-12.col-sm-4
                  %a{:href => ""}
                    «ТехноПорт»
                  %br
                  пр-т Пушкина 51
                  %br
                  +38 (056) 744-84-94                    
                .col-xs-12.col-sm-4.icon-page
                  %img{:src => "images/icon_review.gif"}
                  %img{:src => "images/icon_no_cont.gif"}
                  %img{:src => "images/icon_ask.gif"}
              .clearfix                
                
              
          .a-right
            %img{:src => "images/banner600.jpg"}

            
          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
