haml/list_brand.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Список сервисных центров Samsung
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
              
      .liner-all
      
    .container
      .back-white-page 
        .inner
          
          .row
            .col-xs-12
              %ol.breadcrumb
                %li
                  %a{:href => "#"} Главная
                  %i.fa.fa-caret-right
                %li
                  %a{:href => "#"}
                    Киевская область 
                  %i.fa.fa-caret-right
                %li
                  %a{:href => "#"}
                    Киев
                  %i.fa.fa-caret-right
                %li.active Samsung
              %h2
                Список сервисных центров
              

              
          .col-page-rt
            .col-page-rt-inner
              .row.sort-filtr
                .col-xs-6
                  Фильтр:
                .col-xs-6.small.text-right
                  %a{:href => ""}
                    Скрыть фильтр
              .row.sort-filtr
                
                .col-xs-4
                  
                  
                  %select.form-control
                    %option Город
                    %option Алушта
                    %option Львов
                    %option Днепр
                    %option Харьков
                    %option Ивано-Франковск
                 
                .col-xs-4
                  
                  %select.form-control
                    %option Тип
                    %option Авторизированные
                    %option Неавторизированные
                .col-xs-4
                  %select.form-control
                    %option Выбрать
              .row
                .col-xs-12.text-right
                  %button.btn.btn-default
                    Применить
              .liner-grey.clearfix
              .row.sort
                .col-xs-12
                  Всего:220
                
              .row
                .col-xs-12.col-sm-2
                  %a{:href => ""}
                    «Компьютерная помощь»         
                .col-xs-12.col-sm-4

                  м.Дворец Спорта
                  %br
                  (ул. Шота Руставели, 17)
                  %br
                  м.Харьковская 
                  %br
                  ул. Ревуцкого, 38
                  %br
                  м.Шулявская
                  %br
                  ул. Александра Довженка,1В
                .col-xs-12.col-sm-4  
                  +38 (044) 338 73 58                    
                .col-xs-12.col-sm-2.icon-page
                  %a{:href => "", :alt => "Отзыв" }
                    %i.fa.fa-commenting
                  %a{:href => ""}
                    %i.fa.fa-trash
                  %a{:href => ""}
                    %i.fa.fa-question-circle
                  %a{:href => ""}
                    %i.fa.fa-retweet
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                  %a{:href => ""}
                    «Крок-ТТЦ»        
                .col-xs-12.col-sm-4
                  ул. Радужная, 25Б
                .col-xs-12.col-sm-4  
                  0 (800) 504-504                    
                .col-xs-12.col-sm-2.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                  %a{:href => ""}
                    %img{:src => "images/ico_zakaz.gif"}
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                  %a{:href => ""}
                    «Remzona»         
                .col-xs-12.col-sm-4
                  бу-р Шевченка 46-В; 
                  %br
                  ул. Р. Окипной 4а; 
                  %br
                  ул. Милославская 10а
                .col-xs-12.col-sm-4  
                  +38 (044) 592-50-64                    
                .col-xs-12.col-sm-2.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}
                  %a{:href => ""}
                    %img{:src => "images/ico_zakaz.gif"}
              .liner-grey.clearfix
              .row
                .col-xs-12.col-sm-2
                  %a{:href => ""}
                    «Лагуна»        
                .col-xs-12.col-sm-4
                  ул. Героев Днепра 2-А
                .col-xs-12.col-sm-4  
                  +38 (044) 412-42-19                  
                .col-xs-12.col-sm-2.icon-page
                  %a{:href => ""}
                    %img{:src => "images/icon_review.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_no_cont.gif"}
                  %a{:href => ""}
                    %img{:src => "images/icon_ask.gif"}

              .liner-grey.clearfix
              
              .liner-invisible
              .row
                .col-xs-12
                  %ul.pager
                    %li.disabled
                      %a{:href => "#"} 
                        &laquo;
                    %li.active
                      %a{:href => "#"}
                        1
                        
                    %li
                      %a{:href => "#"}
                        2
                    %li
                      %a{:href => "#"}
                        3
                    %li
                      %a{:href => "#"}
                        4
                    %li
                      %a{:href => "#"}
                        &raquo;

              .clearfix.liner-grey
              %p.row-ctlg.icon-page
                %img{:src => "images/icon_review.gif"}

                Отправить отзыв о сервисном центре
                %br
                %img{:src => "images/icon_no_cont.gif"}

                Пожаловаться на неправильные контактные данные.
                %br
                %img{:src => "images/icon_ask.gif"}

                Отправить запрос в сервисный центр
                %br
                %img{:src => "images/ico_zakaz.gif"}

                Проверить статус своего заказа
            
          .a-right
            %img{:src => "images/banner600.jpg"}

            
          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}

list_brand.html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>Сервисные центры. Список сервисных центров Samsung</title>
    <!-- Bootstrap core CSS -->
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <div class='a-top'>
        <img src='images/banner_top.gif'>
      </div>
      <div class='header-menu-page'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='logo'>
                <a href=''>
                  <img src='images/logo_page.png'>
                </a>
              </div>
              <div class='form-inner'>
                <form class='page-form' role='form'>
                  <div class='form-group visible-500'>
                    <div class='main-but'>
                      <button class='btn' type=''>найти</button>
                    </div>
                    <div class='main-search'>
                      <input class='form-control' type=''>
                    </div>
                  </div>
                  <div class='input-group hidden-500 main-search'>
                    <input class='form-control' type='text'>
                    <span class='input-group-btn'>
                      <button class='btn btn-default' type='submit'>
                        <i class='glyphicon glyphicon-search'></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class='menu-small'>
                <div class='hidden-xs'>
                  <a href='#'>Вход</a>
                  <a href='#'>Регистрация</a>
                </div>
                <div class='btn-group visible-xs'>
                  <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                    <i class='fa fa-bars'></i>
                  </button>
                  <ul class='dropdown-menu dropdown-menu-right' role='menu'>
                    <li>
                      <a href='#'>Вход</a>
                    </li>
                    <li>
                      <a href='#'>Регистрация</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='liner-all'></div>
    </div>
    <div class='container'>
      <div class='back-white-page'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <ol class='breadcrumb'>
                <li>
                  <a href='#'>Главная</a>
                  <i class='fa fa-caret-right'></i>
                </li>
                <li>
                  <a href='#'>
                    Киевская область
                  </a>
                  <i class='fa fa-caret-right'></i>
                </li>
                <li>
                  <a href='#'>
                    Киев
                  </a>
                  <i class='fa fa-caret-right'></i>
                </li>
                <li class='active'>Samsung</li>
              </ol>
              <h2>
                Список сервисных центров
              </h2>
            </div>
          </div>
          <div class='col-page-rt'>
            <div class='col-page-rt-inner'>
              <div class='row sort-filtr'>
                <div class='col-xs-6'>
                  Фильтр:
                </div>
                <div class='col-xs-6 small text-right'>
                  <a href=''>
                    Скрыть фильтр
                  </a>
                </div>
              </div>
              <div class='row sort-filtr'>
                <div class='col-xs-4'>
                  <select class='form-control'>
                    <option>Город</option>
                    <option>Алушта</option>
                    <option>Львов</option>
                    <option>Днепр</option>
                    <option>Харьков</option>
                    <option>Ивано-Франковск</option>
                  </select>
                </div>
                <div class='col-xs-4'>
                  <select class='form-control'>
                    <option>Тип</option>
                    <option>Авторизированные</option>
                    <option>Неавторизированные</option>
                  </select>
                </div>
                <div class='col-xs-4'>
                  <select class='form-control'>
                    <option>Выбрать</option>
                  </select>
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12 text-right'>
                  <button class='btn btn-default'>
                    Применить
                  </button>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='row sort'>
                <div class='col-xs-12'>
                  Всего:220
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12 col-sm-2'>
                  <a href=''>
                    «Компьютерная помощь»
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  м.Дворец Спорта
                  <br>
                  (ул. Шота Руставели, 17)
                  <br>
                  м.Харьковская
                  <br>
                  ул. Ревуцкого, 38
                  <br>
                  м.Шулявская
                  <br>
                  ул. Александра Довженка,1В
                </div>
                <div class='col-xs-12 col-sm-4'>
                  +38 (044) 338 73 58
                </div>
                <div class='col-xs-12 col-sm-2 icon-page'>
                  <a alt='Отзыв' href=''>
                    <i class='fa fa-commenting'></i>
                  </a>
                  <a href=''>
                    <i class='fa fa-trash'></i>
                  </a>
                  <a href=''>
                    <i class='fa fa-question-circle'></i>
                  </a>
                  <a href=''>
                    <i class='fa fa-retweet'></i>
                  </a>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-2'>
                  <a href=''>
                    «Крок-ТТЦ»
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  ул. Радужная, 25Б
                </div>
                <div class='col-xs-12 col-sm-4'>
                  0 (800) 504-504
                </div>
                <div class='col-xs-12 col-sm-2 icon-page'>
                  <a href=''>
                    <img src='images/icon_review.gif'>
                  </a>
                  <a href=''>
                    <img src='images/icon_no_cont.gif'>
                  </a>
                  <a href=''>
                    <img src='images/icon_ask.gif'>
                  </a>
                  <a href=''>
                    <img src='images/ico_zakaz.gif'>
                  </a>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-2'>
                  <a href=''>
                    «Remzona»
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  бу-р Шевченка 46-В;
                  <br>
                  ул. Р. Окипной 4а;
                  <br>
                  ул. Милославская 10а
                </div>
                <div class='col-xs-12 col-sm-4'>
                  +38 (044) 592-50-64
                </div>
                <div class='col-xs-12 col-sm-2 icon-page'>
                  <a href=''>
                    <img src='images/icon_review.gif'>
                  </a>
                  <a href=''>
                    <img src='images/icon_no_cont.gif'>
                  </a>
                  <a href=''>
                    <img src='images/icon_ask.gif'>
                  </a>
                  <a href=''>
                    <img src='images/ico_zakaz.gif'>
                  </a>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='row'>
                <div class='col-xs-12 col-sm-2'>
                  <a href=''>
                    «Лагуна»
                  </a>
                </div>
                <div class='col-xs-12 col-sm-4'>
                  ул. Героев Днепра 2-А
                </div>
                <div class='col-xs-12 col-sm-4'>
                  +38 (044) 412-42-19
                </div>
                <div class='col-xs-12 col-sm-2 icon-page'>
                  <a href=''>
                    <img src='images/icon_review.gif'>
                  </a>
                  <a href=''>
                    <img src='images/icon_no_cont.gif'>
                  </a>
                  <a href=''>
                    <img src='images/icon_ask.gif'>
                  </a>
                </div>
              </div>
              <div class='liner-grey clearfix'></div>
              <div class='liner-invisible'></div>
              <div class='row'>
                <div class='col-xs-12'>
                  <ul class='pager'>
                    <li class='disabled'>
                      <a href='#'>
                        &laquo;
                      </a>
                    </li>
                    <li class='active'>
                      <a href='#'>
                        1
                      </a>
                    </li>
                    <li>
                      <a href='#'>
                        2
                      </a>
                    </li>
                    <li>
                      <a href='#'>
                        3
                      </a>
                    </li>
                    <li>
                      <a href='#'>
                        4
                      </a>
                    </li>
                    <li>
                      <a href='#'>
                        &raquo;
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class='clearfix liner-grey'></div>
              <p class='row-ctlg icon-page'>
                <img src='images/icon_review.gif'>
                Отправить отзыв о сервисном центре
                <br>
                <img src='images/icon_no_cont.gif'>
                Пожаловаться на неправильные контактные данные.
                <br>
                <img src='images/icon_ask.gif'>
                Отправить запрос в сервисный центр
                <br>
                <img src='images/ico_zakaz.gif'>
                Проверить статус своего заказа
              </p>
            </div>
          </div>
          <div class='a-right'>
            <img src='images/banner600.jpg'>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='footer back-green'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12 col-sm-4'>
              <div class='copy'>
                © 2008-2017 Сервисные центры Украины
                <br>
                <br>
                При копировании материалов ссылка на servicecenter.com.ua
                обязательна.
                <br>
                <br>
              </div>
            </div>
            <div class='col-sm-6 col-xs-6'>
              <div class='row hidden-xs'>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Сервисным центрам
                  </a>
                  <br>
                  <a href=''>
                    Веб-мастерам
                  </a>
                  <br>
                  <a href=''>
                    Рекламодателям
                  </a>
                </div>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Контакты
                  </a>
                  <br>
                  <a href=''>
                    Поддержка
                  </a>
                  <br>
                  <a href=''>
                    О проекте
                  </a>
                </div>
              </div>
              <a href=''>
                Сервисным центрам
              </a>
              <br>
              <a href=''>
                Веб-мастерам
              </a>
              <br>
              <a href=''>
                Рекламодателям
              </a>
              <a href=''>
                Контакты
              </a>
              <br>
              <a href=''>
                Поддержка
              </a>
              <br>
              <a href=''>
                О проекте
              </a>
            </div>
            <div class='col-xs-6 col-sm-2 text-right'>
              <img src='images/icon_ramb.png'>
              <br>
              <img src='images/icon_mail.png'>
              <br>
              <img src='images/icon_live.png'>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>
