user_sc_category.html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>Категории сервисных центров</title>
    <!-- Bootstrap core CSS -->
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <div class='a-top'>
        <img src='images/banner_top.gif'>
      </div>
      <div class='header-menu-page'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='logo'>
                <a href=''>
                  <img src='images/logo_page.png'>
                </a>
              </div>
              <div class='form-inner'>
                <form class='page-form' role='form'>
                  <div class='form-group visible-500'>
                    <div class='main-but'>
                      <button class='btn' type=''>найти</button>
                    </div>
                    <div class='main-search'>
                      <input class='form-control' type=''>
                    </div>
                  </div>
                  <div class='input-group hidden-500 main-search'>
                    <input class='form-control' type='text'>
                    <span class='input-group-btn'>
                      <button class='btn btn-default' type='submit'>
                        <i class='glyphicon glyphicon-search'></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class='menu-small'>
                <div class='hidden-xs'>
                  <a href='#'>Вход</a>
                  <a href='#'>Регистрация</a>
                </div>
                <div class='btn-group visible-xs'>
                  <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                    <i class='fa fa-bars'></i>
                  </button>
                  <ul class='dropdown-menu dropdown-menu-right' role='menu'>
                    <li>
                      <a href='#'>Вход</a>
                    </li>
                    <li>
                      <a href='#'>Регистрация</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='liner-all'></div>
    </div>
    <div class='container'>
      <div class='back-white-page'>
        <div class='inner'>
          <div class='text-pdg category-sc'>
            <div class='row'>
              <div class='col-xs-12'>
                <ol class='breadcrumb'>
                  <li>
                    <a href='#'>Главная</a>
                    <i class='fa fa-caret-right'></i>
                  </li>
                  <li>
                    <a href='#'>Личный кабинет</a>
                    <i class='fa fa-caret-right'></i>
                  </li>
                  <li>
                    <a href='#'>Мои сервисные центры</a>
                    <i class='fa fa-caret-right'></i>
                  </li>
                  <li class='active'>Категории сервисных центров</li>
                </ol>
                <h2>
                  Категории сервисных центров
                </h2>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-12'>
                Уважаемые представители сервисных центров, пожалуйста, внесите для обслуживаемых категорий техники
                <i>
                  только те торговые марки,
                </i>
                <u>
                  ремонт которых Вы осуществляете.
                </u>
              </div>
            </div>
            <div class='liner-grey clearfix'></div>
            <div class='row'>
              <div class='col-xs-12 col-sm-2'>
                Категории техники
              </div>
              <div class='col-xs-12 col-sm-10'>
                <u>
                  Список обслуживаемых торговых марок
                </u>
                <small>
                  (пример: Samsung, Philips, Asus, Toshiba)
                </small>
              </div>
            </div>
            <div class='liner-grey clearfix'></div>
            <form class='form-horizontal' role='form'>
              <div class='row'>
                <div class='col-sm-12'>
                  <b>
                    Фототехника
                  </b>
                </div>
              </div>
              <div class='grey-cell'>
                <div class='form-group record2selected'>
                  <div class='col-sm-2'>
                    <input checked='checked' type='checkbox'>Вспышки</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Карты памяти</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <b>
                    Кинооборудование
                  </b>
                </div>
              </div>
              <div class='grey-cell'>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Осветительное оборудование</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Студийное оборудование</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Объективы</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <b>
                    Оптические приборы
                  </b>
                </div>
              </div>
              <div class='grey-cell'>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Микроскопы</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group record2selected'>
                  <div class='col-sm-2'>
                    <input checked='checked' type='checkbox'>Оптические прицелы, ПНВ</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Подзорные трубы, бинокли</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Телескопы</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Подводные боксы</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Фотоаппараты</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Цифровые фотоаппараты</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-sm-2'>
                    <input type='checkbox'>Цифровые фоторамки</input>
                  </div>
                  <div class='col-sm-10'>
                    <input class='form-control col-sm-12' type='text'>
                  </div>
                  <div class='col-sm-offset-2'>
                    <div class='autriz-name'>
                      Авторизации СЦ -
                    </div>
                    <div class='autriz-text'>
                      <div class='autriz-inner'>
                        <input class='form-control' type='text'>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-offset-3 col-sm-9 text-right'>
                  <button class='btn btn-default' type='submit'>Сохранить</button>
                  <button class='btn btn-default' type='submit'>Отложить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='footer back-green'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12 col-sm-4'>
              <div class='copy'>
                © 2008-2017 Сервисные центры Украины
                <br>
                <br>
                При копировании материалов ссылка на servicecenter.com.ua
                обязательна.
                <br>
                <br>
              </div>
            </div>
            <div class='col-sm-6 col-xs-6'>
              <div class='row hidden-xs'>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Сервисным центрам
                  </a>
                  <br>
                  <a href=''>
                    Веб-мастерам
                  </a>
                  <br>
                  <a href=''>
                    Рекламодателям
                  </a>
                </div>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Контакты
                  </a>
                  <br>
                  <a href=''>
                    Поддержка
                  </a>
                  <br>
                  <a href=''>
                    О проекте
                  </a>
                </div>
              </div>
              <a href=''>
                Сервисным центрам
              </a>
              <br>
              <a href=''>
                Веб-мастерам
              </a>
              <br>
              <a href=''>
                Рекламодателям
              </a>
              <a href=''>
                Контакты
              </a>
              <br>
              <a href=''>
                Поддержка
              </a>
              <br>
              <a href=''>
                О проекте
              </a>
            </div>
            <div class='col-xs-6 col-sm-2 text-right'>
              <img src='images/icon_ramb.png'>
              <br>
              <img src='images/icon_mail.png'>
              <br>
              <img src='images/icon_live.png'>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>

haml/user_sc_category.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Категории сервисных центров
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          .text-pdg.category-sc
            .row
              .col-xs-12
                %ol.breadcrumb
                  %li
                    %a{:href => "#"} Главная
                    %i.fa.fa-caret-right
                  %li
                    %a{:href => "#"} Личный кабинет
                    %i.fa.fa-caret-right
                  %li
                    %a{:href => "#"} Мои сервисные центры
                    %i.fa.fa-caret-right
            
                  %li.active Категории сервисных центров
                %h2
                  Категории сервисных центров
            .row
              .col-xs-12
                Уважаемые представители сервисных центров, пожалуйста, внесите для обслуживаемых категорий техники 
                %i
                  только те торговые марки, 
                %u
                  ремонт которых Вы осуществляете.
            .liner-grey.clearfix
            .row
              .col-xs-12.col-sm-2
                Категории техники
              .col-xs-12.col-sm-10
                %u
                  Список обслуживаемых торговых марок    
                %small
                  (пример: Samsung, Philips, Asus, Toshiba)
            .liner-grey.clearfix
            %form.form-horizontal{:role => "form"}
              .row
                .col-sm-12
                  %b
                    Фототехника
              .grey-cell    
                .form-group.record2selected
                  .col-sm-2
                    %input{:type => "checkbox", :checked => "checked"} Вспышки 
                  .col-sm-10
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Карты памяти
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
              .row
                .col-sm-12
                  %b
                    Кинооборудование
              .grey-cell 
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Осветительное оборудование
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Студийное оборудование
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Объективы
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
              .row
                .col-sm-12
                  %b
                    Оптические приборы
              .grey-cell   
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Микроскопы
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group.record2selected
                  .col-sm-2
                    %input{:type => "checkbox", :checked => "checked"} Оптические прицелы, ПНВ
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Подзорные трубы, бинокли
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Телескопы
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Подводные боксы
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Фотоаппараты
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Цифровые фотоаппараты
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
                .form-group
                  .col-sm-2
                    %input{:type => "checkbox"} Цифровые фоторамки
                  .col-sm-10 
                    
                    %input.form-control.col-sm-12{:type => "text"}/
                  .col-sm-offset-2
                    .autriz-name
                      Авторизации СЦ -
                    .autriz-text
                      .autriz-inner
                        %input.form-control{:type => "text"}/
              
              .row
                .col-sm-offset-3.col-sm-9.text-right
                  %button.btn.btn-default{:type => "submit"} Сохранить
                  %button.btn.btn-default{:type => "submit"} Отложить

        
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
