user_area.html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>Сервисные центры. Поддержка</title>
    <!-- Bootstrap core CSS -->
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <div class='a-top'>
        <img src='images/banner_top.gif'>
      </div>
      <div class='header-menu-page'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='logo'>
                <a href=''>
                  <img src='images/logo_page.png'>
                </a>
              </div>
              <div class='form-inner'>
                <form class='page-form' role='form'>
                  <div class='form-group visible-500'>
                    <div class='main-but'>
                      <button class='btn' type=''>найти</button>
                    </div>
                    <div class='main-search'>
                      <input class='form-control' type=''>
                    </div>
                  </div>
                  <div class='input-group hidden-500 main-search'>
                    <input class='form-control' type='text'>
                    <span class='input-group-btn'>
                      <button class='btn btn-default' type='submit'>
                        <i class='glyphicon glyphicon-search'></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class='menu-small'>
                <div class='hidden-xs'>
                  <a href='#'>Вход</a>
                  <a href='#'>Регистрация</a>
                </div>
                <div class='btn-group visible-xs'>
                  <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                    <i class='fa fa-bars'></i>
                  </button>
                  <ul class='dropdown-menu dropdown-menu-right' role='menu'>
                    <li>
                      <a href='#'>Вход</a>
                    </li>
                    <li>
                      <a href='#'>Регистрация</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='liner-all'></div>
    </div>
    <div class='container'>
      <div class='back-white-page'>
        <div class='inner'>
          <div class='text-pdg'>
            <div class='row'>
              <div class='col-xs-12'>
                <ol class='breadcrumb'>
                  <li>
                    <a href='#'>Главная</a>
                    <i class='fa fa-caret-right'></i>
                  </li>
                  <li class='active'>Личный кабинет</li>
                </ol>
                <h2>
                  Личный кабинет
                </h2>
              </div>
            </div>
            <div class='row user'>
              <div class='col-sm-4'>
                <a href=''>
                  <i class='fa fa-shield'></i>
                </a>
                <br>
                <a href=''>
                  Мои сервисные центры
                </a>
                <br>
                Управлять информацией о своих магазинах стало проще.
              </div>
              <div class='col-sm-4'>
                <a href=''>
                  <i class='fa fa-star'></i>
                </a>
                <br>
                <a href=''>
                  Продукция
                </a>
                <br>
                Весь ассортимент продукции представленный в моих магазинах.
              </div>
              <div class='col-sm-4'>
                <a href=''>
                  <i class='fa fa-calendar-o'></i>
                </a>
                <br>
                <a href=''>
                  Входящие заказы
                </a>
                <br>
                Каждый заказ Вы можете обсудить с отправителем прямо здесь.
              </div>
            </div>
            <div class='row user'>
              <div class='col-sm-4'>
                <a href=''>
                  <i class='fa fa-cart-arrow-down'></i>
                </a>
                <br>
                <a href=''>
                  Мои покупки
                </a>
                <br>
                Больше покупок - больше скидок.
              </div>
              <div class='col-sm-4'>
                <a href=''>
                  <i class='fa fa-envelope-open'></i>
                </a>
                <br>
                <a href=''>
                  Мои отзывы
                </a>
                <br>
                Все мои отзывы, жалобы для товаров.
              </div>
              <div class='col-sm-4'>
                <a href=''>
                  <i class='fa fa-cogs'></i>
                </a>
                <br>
                <a href=''>
                  Настройки
                </a>
                <br>
                Настройки учетной записи.
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='liner-all'></div>
      <div class='footer back-green'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12 col-sm-4'>
              <div class='copy'>
                © 2008-2017 Сервисные центры Украины
                <br>
                <br>
                При копировании материалов ссылка на servicecenter.com.ua
                обязательна.
                <br>
                <br>
              </div>
            </div>
            <div class='col-sm-6 col-xs-6'>
              <div class='row hidden-xs'>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Сервисным центрам
                  </a>
                  <br>
                  <a href=''>
                    Веб-мастерам
                  </a>
                  <br>
                  <a href=''>
                    Рекламодателям
                  </a>
                </div>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Контакты
                  </a>
                  <br>
                  <a href=''>
                    Поддержка
                  </a>
                  <br>
                  <a href=''>
                    О проекте
                  </a>
                </div>
              </div>
              <a href=''>
                Сервисным центрам
              </a>
              <br>
              <a href=''>
                Веб-мастерам
              </a>
              <br>
              <a href=''>
                Рекламодателям
              </a>
              <a href=''>
                Контакты
              </a>
              <br>
              <a href=''>
                Поддержка
              </a>
              <br>
              <a href=''>
                О проекте
              </a>
            </div>
            <div class='col-xs-6 col-sm-2 text-right'>
              <img src='images/icon_ramb.png'>
              <br>
              <img src='images/icon_mail.png'>
              <br>
              <img src='images/icon_live.png'>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>

haml/user_area.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Сервисные центры. Поддержка
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          .text-pdg
            .row
              .col-xs-12
                %ol.breadcrumb
                  %li
                    %a{:href => "#"} Главная
                    %i.fa.fa-caret-right
            
                  %li.active Личный кабинет
                %h2
                  Личный кабинет
                
            .row.user
              .col-sm-4
                %a{:href => ""}
                  %i.fa.fa-shield
                %br
                %a{:href => ""}
                  Мои сервисные центры
                %br
                Управлять информацией о своих магазинах стало проще.
              .col-sm-4
                %a{:href => ""}
                  %i.fa.fa-star
                %br
                %a{:href => ""}
                  Продукция
                %br
                Весь ассортимент продукции представленный в моих магазинах.
              .col-sm-4
                %a{:href => ""}
                  %i.fa.fa-calendar-o
                %br
                %a{:href => ""}
                  Входящие заказы
                %br
                Каждый заказ Вы можете обсудить с отправителем прямо здесь.
            .row.user
              .col-sm-4
                %a{:href => ""}
                  %i.fa.fa-cart-arrow-down
                %br
                %a{:href => ""}
                  Мои покупки
                %br
                Больше покупок - больше скидок.
              .col-sm-4
                %a{:href => ""}
                  %i.fa.fa-envelope-open

                %br
                %a{:href => ""}
                  Мои отзывы
                %br
                Все мои отзывы, жалобы для товаров.
              .col-sm-4
                %a{:href => ""}
                  %i.fa.fa-cogs
                %br
                %a{:href => ""}
                  Настройки
                %br
                Настройки учетной записи.
            
            
            
            %br/
            %br/

          
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
