user_sc_add.html
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <title>Добавить сервисный центр</title>
    <!-- Bootstrap core CSS -->
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
    <link href='css/font-awesome.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class='container'>
      <div class='a-top'>
        <img src='images/banner_top.gif'>
      </div>
      <div class='header-menu-page'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='logo'>
                <a href=''>
                  <img src='images/logo_page.png'>
                </a>
              </div>
              <div class='form-inner'>
                <form class='page-form' role='form'>
                  <div class='form-group visible-500'>
                    <div class='main-but'>
                      <button class='btn' type=''>найти</button>
                    </div>
                    <div class='main-search'>
                      <input class='form-control' type=''>
                    </div>
                  </div>
                  <div class='input-group hidden-500 main-search'>
                    <input class='form-control' type='text'>
                    <span class='input-group-btn'>
                      <button class='btn btn-default' type='submit'>
                        <i class='glyphicon glyphicon-search'></i>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
              <div class='menu-small'>
                <div class='hidden-xs'>
                  <a href='#'>Вход</a>
                  <a href='#'>Регистрация</a>
                </div>
                <div class='btn-group visible-xs'>
                  <button class='btn btn-default dropdown-toggle' data-toggle='dropdown' type='button'>
                    <i class='fa fa-bars'></i>
                  </button>
                  <ul class='dropdown-menu dropdown-menu-right' role='menu'>
                    <li>
                      <a href='#'>Вход</a>
                    </li>
                    <li>
                      <a href='#'>Регистрация</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='liner-all'></div>
    </div>
    <div class='container'>
      <div class='back-white-page'>
        <div class='inner'>
          <div class='text-pdg'>
            <div class='row'>
              <div class='col-xs-12'>
                <ol class='breadcrumb'>
                  <li>
                    <a href='#'>Главная</a>
                    <i class='fa fa-caret-right'></i>
                  </li>
                  <li>
                    <a href='#'>Личный кабинет</a>
                    <i class='fa fa-caret-right'></i>
                  </li>
                  <li>
                    <a href='#'>Мои сервисные центры</a>
                    <i class='fa fa-caret-right'></i>
                  </li>
                  <li class='active'>Добавить сервисный центр</li>
                </ol>
                <h2>
                  Добавить сервисный центр
                </h2>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-12'>
                <b class='text-danger'>
                  Внимание!
                </b>
                Поля, помеченные звездочкой (*) - обязательны для заполнения!
              </div>
            </div>
            <div class='liner-grey clearfix'></div>
            <form class='form-horizontal' role='form'>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for='input1'>Название организации: *</label>
                <div class='col-sm-8'>
                  <input3 class='form-control' type='text'>
                </div>
              </div>
              <div class='row'></div>
              <div class='col-xs-12'>
                <i>
                  Укажите точный адрес сервисного центра, куда будут приезжать, приходить Ваши клиенты.
                </i>
                <br>
                <br>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for='input3'>Почтовый индекс:</label>
                <div class='col-sm-8'>
                  <input class='form-control' type='text'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for='input'>Город: *</label>
                <div class='col-sm-8'>
                  <select class='form-control'>
                    <option>Город</option>
                    <option>Алушта</option>
                    <option>Львов</option>
                    <option>Днепр</option>
                    <option>Харьков</option>
                    <option>Ивано-Франковск</option>
                  </select>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for='input3'>Адрес: *</label>
                <div class='col-sm-8'>
                  <input class='form-control' type='text'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label'>Телефон: *</label>
                <div class='col-sm-8'>
                  <input class='form-control' placeholder='+38 (050) 22-146-22' type='text'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for='input3'>Другие телефоны:</label>
                <div class='col-sm-8'>
                  <input class='form-control' type='text'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for='input3'>Факс:</label>
                <div class='col-sm-8'>
                  <input class='form-control' type='text'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for=''>E-mail организации</label>
                <div class='col-sm-8'>
                  <input class='form-control' placeholder='Email' type='email'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for=''>
                  Я хочу участвовать в
                  <br>
                  <a href=''>
                    независимом рейтинге сервисных центров
                  </a>
                </label>
                <div class='col-sm-8'>
                  <input type='checkbox'>
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12'>
                  Наши посетители пишут о каждом сервисном центре и хорошее, и плохое.
                  <br>
                  <u>
                    Каждый необоснованный отзыв
                  </u>
                  Вы можете опротестовать, еще до публикации его на сайте.
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for=''>
                  Посылать мне отзывы и жалобы:
                </label>
                <div class='col-sm-8'>
                  <input type='checkbox'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for=''>
                  E-mail для отзывов-жалоб:
                  <br>
                  <sup>
                    Не публикуется, не виден на сайте
                  </sup>
                </label>
                <div class='col-sm-8'>
                  <input class='form-control' placeholder='Email' type='email'>
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12'>
                  Наши посетители - это
                  <u>
                    Ваши потенциальные клиенты.
                  </u>
                  <br>
                  Каждый пользователь нашего проекта может направить заказ на ремонт, о чем Вы будете своевременно осведомлены.
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for=''>
                  Получать заказы:
                </label>
                <div class='col-sm-8'>
                  <input type='checkbox'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for=''>
                  E-mail для заказов:
                  <br>
                  <sup>
                    Не публикуется, не виден на сайте
                  </sup>
                </label>
                <div class='col-sm-8'>
                  <input class='form-control' placeholder='Email' type='email'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-4 control-label' for=''>
                  Подключить услугу
                  <a href=''>
                    проверки статуса выполнения
                    заказа через интернет
                    <div class='small'>
                      Платная услуга
                    </div>
                  </a>
                </label>
                <div class='col-sm-8'>
                  <input type='checkbox'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-sm-12 control-label'>
                  Сообщение *
                </label>
                <div class='col-sm-12'>
                  <textarea class='form-control' rows='7'></textarea>
                </div>
              </div>
              * - обязательные для заполнения поля
              <br>
              <br>
              <div class='form-group'>
                <div class='col-sm-offset-3 col-sm-9 text-right'>
                  <button class='btn btn-default' type='submit'>Сохранить</button>
                  <button class='btn btn-default' type='submit'>Отменить</button>
                  <button class='btn btn-default' type='submit'>Перейти к категориям</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    }
    <div class='container'>
      <div class='liner-all'></div>
      <div class='footer back-green'>
        <div class='inner'>
          <div class='row'>
            <div class='col-xs-12 col-sm-4'>
              <div class='copy'>
                © 2008-2017 Сервисные центры Украины
                <br>
                <br>
                При копировании материалов ссылка на servicecenter.com.ua
                обязательна.
                <br>
                <br>
              </div>
            </div>
            <div class='col-sm-6 col-xs-6'>
              <div class='row hidden-xs'>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Сервисным центрам
                  </a>
                  <br>
                  <a href=''>
                    Веб-мастерам
                  </a>
                  <br>
                  <a href=''>
                    Рекламодателям
                  </a>
                </div>
                <div class='col-sm-6 col-xs-12'>
                  <a href=''>
                    Контакты
                  </a>
                  <br>
                  <a href=''>
                    Поддержка
                  </a>
                  <br>
                  <a href=''>
                    О проекте
                  </a>
                </div>
              </div>
              <a href=''>
                Сервисным центрам
              </a>
              <br>
              <a href=''>
                Веб-мастерам
              </a>
              <br>
              <a href=''>
                Рекламодателям
              </a>
              <a href=''>
                Контакты
              </a>
              <br>
              <a href=''>
                Поддержка
              </a>
              <br>
              <a href=''>
                О проекте
              </a>
            </div>
            <div class='col-xs-6 col-sm-2 text-right'>
              <img src='images/icon_ramb.png'>
              <br>
              <img src='images/icon_mail.png'>
              <br>
              <img src='images/icon_live.png'>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src='js/jquery.min.js'></script>
<script src='js/bootstrap.min.js'></script>

haml/user_sc_add.haml
!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    %title Добавить сервисный центр
    / Bootstrap core CSS
    %link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    .container
      
      .a-top
        %img{:src => "images/banner_top.gif"}

      .header-menu-page
        .inner
          .row
            .col-xs-12
              .logo
                %a{:href => ""}
                  %img{:src => "images/logo_page.png"}
            
            
              .form-inner
                %form.page-form{:role => "form"}
                  .form-group.visible-500
                    
                    .main-but
                      %button.btn{:type => ""} найти
                    .main-search
                      %input.form-control{ :type => ""}/
                  .input-group.hidden-500.main-search
                    %input.form-control{:type => "text"}/
                    %span.input-group-btn
                      %button.btn.btn-default{:type => "submit"}
                        %i.glyphicon.glyphicon-search
              .menu-small
                .hidden-xs
                  %a{:href => "#"} Вход
                  %a{:href => "#"} Регистрация
                .btn-group.visible-xs
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  
                    %i.fa.fa-bars
                  
               
                  %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                    %li
                      %a{:href => "#"} Вход
                    %li
                      %a{:href => "#"} Регистрация
      .liner-all
      
    .container
      .back-white-page 
        .inner
          .text-pdg
            .row
              .col-xs-12
                %ol.breadcrumb
                  %li
                    %a{:href => "#"} Главная
                    %i.fa.fa-caret-right
                  %li
                    %a{:href => "#"} Личный кабинет
                    %i.fa.fa-caret-right
                  %li
                    %a{:href => "#"} Мои сервисные центры
                    %i.fa.fa-caret-right
            
                  %li.active Добавить сервисный центр
                %h2
                  Добавить сервисный центр
            .row
              .col-xs-12
                %b.text-danger
                  Внимание! 
                Поля, помеченные звездочкой (*) - обязательны для заполнения!
            .liner-grey.clearfix

            %form.form-horizontal{:role => "form"}
              .form-group
                %label.col-sm-4.control-label{:for => "input1"} Название организации: * 
                .col-sm-8 
                  %input3.form-control{:type => "text"}/
              .row
              .col-xs-12
                %i
                  Укажите точный адрес сервисного центра, куда будут приезжать, приходить Ваши клиенты.
                %br
                %br
              .form-group
                %label.col-sm-4.control-label{:for => "input3"} Почтовый индекс:
                .col-sm-8 
                  %input.form-control{:type => "text"}/
              .form-group
                %label.col-sm-4.control-label{:for => "input"} Город: *
                .col-sm-8 
                  %select.form-control
                    %option Город
                    %option Алушта
                    %option Львов
                    %option Днепр
                    %option Харьков
                    %option Ивано-Франковск
              .form-group
                %label.col-sm-4.control-label{:for => "input3"} Адрес: *
                .col-sm-8 
                  %input.form-control{:type => "text"}/
              .form-group
                %label.col-sm-4.control-label{} Телефон: * 
                .col-sm-8 
                  %input.form-control{:placeholder => "+38 (050) 22-146-22", :type => "text"}/
              .form-group
                %label.col-sm-4.control-label{:for => "input3"} Другие телефоны:
                .col-sm-8 
                  %input.form-control{:type => "text"}/
              .form-group
                %label.col-sm-4.control-label{:for => "input3"} Факс:
                .col-sm-8 
                  %input.form-control{:type => "text"}/
              .form-group
                %label.col-sm-4.control-label{:for => ""} E-mail организации
                .col-sm-8 
                  %input.form-control{:placeholder => "Email", :type => "email"}/
              .form-group
                %label.col-sm-4.control-label{:for => ""} 
                  Я хочу участвовать в 
                  %br
                  %a{:href => ""}
                    независимом рейтинге сервисных центров
                .col-sm-8 
                  %input{:type => "checkbox"}
              .row
                .col-xs-12
                  Наши посетители пишут о каждом сервисном центре и хорошее, и плохое.
                  %br
                  %u
                    Каждый необоснованный отзыв 
                  Вы можете опротестовать, еще до публикации его на сайте.
              .form-group
                %label.col-sm-4.control-label{:for => ""} 
                  Посылать мне отзывы и жалобы:
                .col-sm-8 
                  %input{:type => "checkbox"}
              .form-group
                %label.col-sm-4.control-label{:for => ""}
                  E-mail для отзывов-жалоб:
                  %br
                  %sup
                    Не публикуется, не виден на сайте
                .col-sm-8 
                  %input.form-control{:placeholder => "Email", :type => "email"}/
              .row
                .col-xs-12
                  Наши посетители - это 
                  %u
                    Ваши потенциальные клиенты.
                  %br
                  Каждый пользователь нашего проекта может направить заказ на ремонт, о чем Вы будете своевременно осведомлены.
              .form-group
                %label.col-sm-4.control-label{:for => ""} 
                  Получать заказы:
                .col-sm-8 
                  %input{:type => "checkbox"}
              .form-group
                %label.col-sm-4.control-label{:for => ""} 
                  E-mail для заказов:
                  %br
                  %sup
                    Не публикуется, не виден на сайте
                .col-sm-8 
                  %input.form-control{:placeholder => "Email", :type => "email"}/
              .form-group
                %label.col-sm-4.control-label{:for => ""} 
                  Подключить услугу 
                  %a{:href => ""}
                    проверки статуса выполнения 
                    заказа через интернет
                    .small
                      Платная услуга
                .col-sm-8 
                  %input{:type => "checkbox"}
              
              .form-group
                %label.col-sm-12.control-label 
                  Сообщение *
                .col-sm-12
                  %textarea.form-control{:rows => "7"}

              * - обязательные для заполнения поля
              %br
              %br
              .form-group
                .col-sm-offset-3.col-sm-9.text-right
                  %button.btn.btn-default{:type => "submit"} Сохранить
                  %button.btn.btn-default{:type => "submit"} Отменить
                  %button.btn.btn-default{:type => "submit"} Перейти к категориям
    }

        
    .container
      .liner-all
      .footer.back-green
        .inner
          .row
            .col-xs-12.col-sm-4
              .copy
                © 2008-2017 Сервисные центры Украины
                %br
                %br
                При копировании материалов ссылка на servicecenter.com.ua 
                обязательна.

                %br
                %br
            .col-sm-6.col-xs-6
              .row.hidden-xs
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Сервисным центрам
                  %br
                  %a{:href => ""}  
                    Веб-мастерам
                  %br
                  %a{:href => ""}
                    Рекламодателям
                .col-sm-6.col-xs-12
                  %a{:href => ""}
                    Контакты 
                  %br
                  %a{:href => ""}
                    Поддержка 
                  %br
                  %a{:href => ""}
                    О проекте 

              %a{:href => ""}
                Сервисным центрам
              %br
              %a{:href => ""}  
                Веб-мастерам
              %br
              %a{:href => ""}
                Рекламодателям
            
              %a{:href => ""}
                Контакты 
              %br
              %a{:href => ""}
                Поддержка 
              %br
              %a{:href => ""}
                О проекте 
            .col-xs-6.col-sm-2.text-right
              %img{:src => "images/icon_ramb.png"}
              %br   
              %img{:src => "images/icon_mail.png"}
              %br    
              %img{:src => "images/icon_live.png"}
              %br
%script{:src => "js/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
